{{extend 'layout.html'}}
{{=H1(title)}}
{{list = ['grant_conventions', 'manage_conventions', 'games', 'manage_accounts', 'manage_people', 'schedule_system_tasks']}}
{{=T('As EasyCon Admin you can do or manage the following things')}}:
<ul>
{{for action in list:}}
    <li class="haspopup">
    {{=A(MV(action), _href=URL('default',action), _class="linkbutton")}}
    <span class="popup">{{=EX(action)}}</span>
    </li>
    {{pass}}<!-- end for-->
</ul>
