{{extend 'layout.html'}}
{{=H1(title)}}

<p>{{=T('The following conventions are part of this convention series')}}:</p>
<ul>{{for convention in conventions:}}
		{{=LI(A(convention.ec_name, _href=URL('convention', args=[convention.ec_short_name])))}}
		{{pass}}</ul>
<p>{{=T('The conventions will not be deleted, only the convention series')}}.</p>
{{=A(T('Delete'), _href=URL('delete_series', args=request.args, vars=dict(yes=1)), _class="linkbutton")}}
{{=A(T('Cancel'), _href=URL('manage_series'), _class="linkbutton")}}

