{{extend layout}}
{{=H1(title)}}
<h2>{{=T('Duplicates')}}:</h2>{{if duplicates:}}{{=UL(duplicates)}}{{else:}}-{{pass}}
{{=P(A(T('Merge duplicates'),_href=URL('games',args=['cleanup']), _class="linkbutton"))}}
{{if not ('view' in request.args or 'edit' in request.args):}}
	{{if layout=='layout.html':}}<p>{{=T('On this page, you can create manage role play games')}}.</p>
		{{pass}}
	{{pass}}
{{=form}}

