﻿{{extend 'layout.html'}}

<h1>{{=T('Help')}}!</h1>
<p>{{=T('This page is for the Easy-Con software')}}. {{=T('If you have questions about a specific convention')}}, {{=A(T('go to the convention site'),_href=URL('convention','index'))}}. </p>

<p>{{=T('If you have questions or found a bug, write an e-mail to')}} <a href="mailto:webmaster@easy-con.org">Daniela</a>.</p>

<h2>{{=T('How it works')}}:</h2>
{{=P(I(T('Sorry, this information is only available in German')))}}

<h2>Für Con-Teilnehmerinnen</h2>
{{=MARKMIN("""
 - Unter "Offene Cons" kannst du sehen, für welche Cons du dich gerade anmelden kannst und welche Anmeldungen bald starten.
 - Es kann sein, dass eine Con-Orga nicht möchte, dass ihr Con dort erscheint. In dem Fall kannst du über eine URL, die dir die Con-Orga zuschickt, auf die Anmeldung und weitere Funktionen zugreifen.
 - Für die Anmeldung brauchst du einen Account. Den kannst du dir unter "Neuer Account" (rechts oben) selbst einrichten.
 - Accounts, die für Anmeldungen im alten System (z.B. Wölkchen, Wolke, Sternenhimmel, ...) erstellt wurden, haben hier keine Gültigkeit.
 - Es kann sein, dass die Con-Orga es zulässt, dass du mit einem Account mehrere Personen anmelden kannst. Falls nicht, musst du für jede neue Anmeldung einen neuen Account anlegen.
""")}}

Wenn für den Con und deinen Anmeldestatus freigegeben, kannst du unter "Programmpunkte" Spielrunden etc. eintragen. Für die Beschreibung kannst du dabei die Markup-Sprache 
{{=A('Markmin', _href=URL('default','markmin'))}} verwenden.



<h2>Für Con-Organisatoren</h2>
<img src="{{=URL('static','images/convention-state-graph_de.png')}}" style="float: left; margin-right: 40px; margin-bottom: 40px"></img>
<p>In der Abbildung siehst du, welche Phasen ein Con durchläuft. Die Con-Orga muss sich dabei im Normalfall nur um die grünen Status kümmern ("requested", "to_be_configured" und "active").</p>
<ol>
<li><b>Neue Installation.</b> Eine Con-Orga möchte ihren Con über Easy-Con organisieren.
Sie beantragt eine neue Installation und füllt die Stammdaten des Cons aus, sofern schon bekannt (z.B. Con-Name, Datum, Webseite und Kontakt-E-Mail).<br/>
Wichtig ist dabei die Angabe von Kurzname/Acronym: damit werden später alle URLs für diesen Con gebildet.
Der "Sternenhimmel 2014" könnte z.B. den Kurznamen "SH14" bekommen, und seine Seiten sind unter <a>http://www.easy-con.org/convention/SH14</a> abrufbar.<br/>
Die Easy-Con-Admin bekommt eine E-Mail, und der Con hat den Status <b>requested</b> (beantragt).</li>
<br/>
<li><b>Installation genehmigen.</b> Die Easy-Con-Admin schaut den Antrag an, und wenn die Veranstaltung zum Konzept von Easy-Con passt, genehmigt sie den Antrag.
Die Con-Orga bekommt eine E-Mail, und der Con hat jetzt den Status <b>to_be_configured</b> (Einstellungen müssen noch bearbeitet werden).</li>
<br/>
<li><b>Einstellungen bearbeiten.</b>Die Con-Orga stellt nun ein, mit welchen Einstellungen der Con organisiert werden soll:
z.B. ob Leute sich zum Con anmelden müssen, welche Anmeldedaten dabei abgefragt werden, und ob diese erforderlich oder optional sein sollen,
welche Con-Beiträge mit welchen Preisen es gibt (sog. kaufbare Bausteine),
oder wann die Anmeldung zum Con, von Spielrunden und zu Spielrunden starten soll.
Dabei kann sie entweder neue Einstellungen anlegen, oder die Einstellungen eines früheren Cons kopieren.<br/>Für eine Liste der Einstellungsmöglichkeiten <a href='#config'>siehe unten</a>.
<br/> Wenn die Einstellungen fertig bearbeitet sind, kann sie den Status des Con auf den Status <b>active</b> (aktiv) setzen.
Wenn die Einstellungen es vorsehen, erscheint er ab jetzt auf der Easy-Con-Seite "Offene Cons", wenn vorhanden, mit dem Datum, wann die Anmeldung starten soll.</li>
<br />
<li><b>Anmeldung zum Con</b>. Wenn der Con eine Anmeldung erfordert, setzt die Orga ein Datum, wann die Anmeldung starten soll. Sobald dieses Datum erreicht wird, wird der Con als "open" (offen) angezeigt. Dies geschieht auch, wenn der Con vorsieht, dass es vorangemeldet Programmpunkte gibt. Es ist auch möglich, dass sich Teilnehmer vorab zu Spielrunden anmelden (Online-Anmeldung); die Plätze in einer Spielrunde können auch nur teilweise online vergeben werden.
Die die Con-Orga kann auch einen Anmeldeschluss von Spielrunden kurz vor dem Con  deaktivieren und die Spielrundenzettel für den Con ausdrucken.</li>
<br />
<li><b>Organisation</b>. Die Con-Orga kann jederzeit auf alle zum Con gehörigen Daten zugreifen,
z.B. auf eine Liste der bereits angemeldeten Menschen oder Spielrunden, und diese auch ändern. Sie kann auch E-Mails an die Teilnehmerinnen schicken.
In der Anmeldeliste kann sie eintragen, wer bereits wieviel gezahlt hat; E-Mails können z.B. auch an alle Teilnehmer geschickt werden, die noch nicht den vollen Con-Beitrag gezahlt haben.</li>
<br/>
<li><b>Ende der Anmeldung</b>. Wenn in den Einstellungen ein Datum angeben ist, zu dem die Con-Anmeldung schließt, wird zu diesem Zeitpunkt der Status des Con als <b>closed</b> (geschlossen) angezeigt, sofern er noch zu diesem Zeitpunkt nicht schon vorbei ist (<b>over</b>).</li>
<br />
<li><b>Nach dem Con</b>. Wenn der letzte Con-Tag vorbei ist, wird der Con als <b>over</b> angezeigt. Die Con-Orga kann sich die Con-Daten exportieren und aus dem System löschen, oder sie für zukünftige Cons und Statistiken behalten.
Con-Teilnehmer können ihre persönlichen Daten jederzeit löschen, und die Anmeldedaten, wenn der Con vorbei ist. (letzteres muss noch implementiert werden)</li>
</ol>



<h3 label="config" style="clear: both"><b>Folgende Dinge kannst du für deinen Con einstellen:</b></h3>
<h3>Con-Stammdaten</h3>
<ul>
{{for field in db.ec_convention.fields:}}
{{if field not in ['id','ec_id_configuration']:}}<li>{{=db.ec_convention.__getattribute__(field).label}} {{if db.ec_convention.__getattribute__(field).comment:}}({{=db.ec_convention.__getattribute__(field).comment}}){{pass}}</li>{{pass}}
{{pass}}
</ul>

Für die Beschreibung deines Cons kannst du die Markup-Sprache {{=A('Markmin', _href=URL('default','markmin'))}} verwenden.


<h3>Con-Einstellungen</h3>
<ul>
{{for field in db.ec_configuration.fields:}}
{{if field not in ['id','ec_name']:}}<li>{{=db.ec_configuration.__getattribute__(field).label}} {{if db.ec_configuration.__getattribute__(field).comment:}}({{=db.ec_configuration.__getattribute__(field).comment}}){{pass}}</li>{{pass}}
{{pass}}
</ul>

<h3>Einstellungen für kaufbare Bausteine</h3>
<ul>
{{for field in db.ec_buyitem.fields:}}
{{if field not in ['id','ec_id_convention']:}}<li>{{=db.ec_buyitem.__getattribute__(field).label}} {{if db.ec_buyitem.__getattribute__(field).comment:}}({{=db.ec_buyitem.__getattribute__(field).comment}}){{pass}}</li>{{pass}}
{{pass}}
</ul>

<h3>Einstellungen für Blöcke</h3>
<ul>
{{for field in db.ec_timeslot.fields:}}
{{if field not in ['id','ec_id_convention']:}}<li>{{=db.ec_timeslot.__getattribute__(field).label}} {{if db.ec_timeslot.__getattribute__(field).comment:}}({{=db.ec_timeslot.__getattribute__(field).comment}}){{pass}}</li>{{pass}}
{{pass}}
</ul>

<h3>Angaben für Spielrunden</h3>
<ul>
{{for field in db.ec_event.fields:}}
{{if field not in ['id','ec_id_convention']:}}<li>{{=db.ec_event.__getattribute__(field).label}} {{if db.ec_event.__getattribute__(field).comment:}}({{=db.ec_event.__getattribute__(field).comment}}){{pass}}</li>{{pass}}
{{pass}}
</ul>

<h3>Angaben für Schlafräume</h3>
<ul>
{{for field in db.ec_bedroom.fields:}}
{{if field not in ['id','ec_id_convention']:}}<li>{{=db.ec_bedroom.__getattribute__(field).label}} {{if db.ec_bedroom.__getattribute__(field).comment:}}({{=db.ec_bedroom.__getattribute__(field).comment}}){{pass}}</li>{{pass}}
{{pass}}
</ul>

<h3>Angaben für Helferdienste</h3>
<ul>
{{for field in db.ec_service.fields:}}
{{if field not in ['id','ec_id_convention']:}}<li>{{=db.ec_service.__getattribute__(field).label}} {{if db.ec_service.__getattribute__(field).comment:}}({{=db.ec_service.__getattribute__(field).comment}}){{pass}}</li>{{pass}}
{{pass}}
</ul>

<h3>Angaben für Con-Einladungen</h3>
<ul>
{{for field in db.ec_invitation.fields:}}
{{if field not in ['id','ec_id_convention']:}}<li>{{=db.ec_invitation.__getattribute__(field).label}} {{if db.ec_invitation.__getattribute__(field).comment:}}({{=db.ec_invitation.__getattribute__(field).comment}}){{pass}}</li>{{pass}}
{{pass}}
</ul>

<h3>Angaben für Con-Seiten</h3>
<ul>
{{for field in db.ec_page.fields:}}
{{if field not in ['id','ec_id_convention']:}}<li>{{=db.ec_page.__getattribute__(field).label}} {{if db.ec_page.__getattribute__(field).comment:}}({{=db.ec_page.__getattribute__(field).comment}}){{pass}}</li>{{pass}}
{{pass}}
</ul>
