{{extend 'layout.html'}}

<h1>{{=T('Welcome')}}!</h1>

<p>{{=T('Welcome at Easy-Con, the (role-play) convention management system')}}. 
{{=T('At a convention, there might be a number of (roly-play) games, board games, workshops or other events - often organized by the attendees of the convention')}}.
</p>

<p>{{=T('With a free Easy-Con account, you can')}}:</p>
<ul>
    <li>{{=A(T('register yourself for a convention'),_href=URL('default','open_conventions'))}}</li>
	<li>{{=T('at a convention, where you are registered for')}}:
        <ul>
            <li>{{=T('register role play games or workshops')}}</li>
            <li>{{=T('register for role play games or workshops')}}</li>
            <li>{{=T('contact other attendees of the convention')}}</li>
        </ul>
	</li>
</ul>
<p>{{=T('If you organize conventions, you can also')}}:</p>
<ul>
    <li>{{=A(T('request a new installation for your convention at Easy-Con'),_href=URL('default','request_installation'))}}</li>
    <li>{{=A(T('manage the data for your convention'),_href=URL('default','my_conventions'))}}, {{=T('like registrations, fees, program events, bedrooms or helper services')}}</li>
    <li>{{=T('communicate with the attendees of your convention')}}</li>
</ul>

<p>{{=T('Easy-Con was launched in January 2014')}}. {{=T('The number of available features is still growing')}}.</p>
