{{extend layout}}
{{=H1(title)}}

{{if convention_selection_form and 'view' not in request.args and 'edit' not in request.args:}}
	<p>{{=T('You can manage the following conventions')}}: {{=convention_selection_form}}</p>
	{{pass}}

{{if form:}}
	{{if 'view' not in request.args and 'edit' not in request.args:}}
		<p>{{=T('You can manage the following convention series')}}:</p>
		{{pass}}
	{{=form}}
	{{pass}}

{{if 'cid' in request.vars and 'view' not in request.args and 'edit' not in request.args:}}
	<ul>
		<li>{{=T('If you add a convention to a series, all members of the admin group of this convention will be admins of this convention series, too')}}.</li>
		<li>{{=T('If you add a convention to a public series, it will appear in the series list (even it if is configured to be non-public')}}.</li>
	</ul>
	{{pass}}
