{{extend layout}}
{{title = T('New news entry') if 'new' in request.args else title}}
{{=H1(title)}}
{{if not('new' in request.args or 'edit' in request.args):}}
	<p>{{=EX('manage_news')}}.</p>
	<p>{{=EX('news_for_conventions')}}.</p>
	<p>{{=EX('no_change_for_published_news')}}.</p>
	<p>{{=T('You can manage the following news entries')}}:</p>
	{{pass}}
{{=result}}
{{=A(T('Newsletter'), _href=URL('newsletter'), _class="linkbutton")}}
