{{extend 'layout.html'}}
{{=H1(title)}}
<p>
{{=XML(T('Easy-Con is powered by <a href="%s">Web2Py</a>  and contains a simple markup language called Markmin') % 'http://web2py.com/')}}.
{{=T('You can use Markmin in description fields, e.g., for events or conventions')}}.
</p>
{{=P(XML(T('Among <a href="%s">others</a>, the following formats are supported:') % 'http://www.web2py.com/init/static/markmin.html'))}}

<table>
<thead>
	<tr class="first"><td><strong>{{=T('Markmin')}}</strong></td><td><strong>{{=T('Output')}}</strong></td></tr>
</thead>
<tbody>
	<tr class="first"><td><code># {{=T('title')}}</code></td><td><strong>{{=T('title')}}</strong></td></tr>
	<tr class="even"><td><code>## {{=T('section')}}</code></td><td><strong>{{=T('section')}}</strong></td></tr>
	<tr><td><code>### {{=T('subsection')}}</code></td><td><strong>{{=T('subsection')}}</strong></td></tr>
	<tr class="even"><td><code>**{{=T('bold')}}**</code></td><td><strong>{{=T('bold')}}</strong></td></tr>
	<tr><td><code>''{{=T('italic')}}''</code></td><td><em>{{=T('italic')}}</em></td></tr>
	<tr class="even"><td><code>~~{{=T('strikeout')}}~~</code></td><td><del>{{=T('strikeout')}}</del></td></tr>
	<tr><td><code>``{{=T('verbatim')}}``</code></td><td><code>{{=T('verbatim')}}</code></td></tr>
	<tr class="even"><td><code>``{{=T('color with')}} **{{=T('bold')}}**``:red</code></td><td><span style="color: red">{{=T('color with')}} <strong>{{=T('bold')}}</strong></span></td></tr>
	<tr><td><code>``{{=T('many colors')}}``:color[blue:#ffff00]</code></td><td><span style="color: blue;background-color: #ffff00;">{{=T('many colors')}}</span></td></tr>
	<tr class="even"><td><code>{{=T('http://google.com')}}</code></td><td><a href="http://google.com">{{=T('http://google.com')}}</a></td></tr>
	<tr class="even"><td><code>[[{{=T('click me')}} http://google.com]]</code></td><td><a href="http://google.com">{{=T('click me')}}</a></td></tr>
	<tr class="even"><td><code>[[{{=T('click me')}} [{{=T('extra info')}}] {{=T('#myanchor popup')}}]]</code></td><td><a href="#markmin_myanchor" title="extra info" target="_blank">{{=T('click me')}}</a></td></tr>
</tbody>
</table>

<h3>{{=T('Unordered Lists')}}</h3>
<pre><code>- Dog
- Cat
- Mouse</code></pre>
<p>{{=T('is rendered as')}}</p>
<ul><li>Dog</li><li>Cat</li><li>Mouse</li></ul>

<p>{{=T('Two new lines between items break the list in two lists')}}.</p>

<h3>{{=T('Ordered Lists')}}</h3>
<pre><code>+ Dog
+ Cat
+ Mouse</code></pre>
<p>{{=T('is rendered as')}}</p><ol><li>Dog</li><li>Cat</li><li>Mouse</li></ol>

<h3>{{=T('Multileveled Lists')}}</h3>
<pre><code>+ Dogs
 -- red
 -- brown
 -- black
+ Cats
 -- fluffy
 -- smooth
 -- bald
+ Mice
 -- small
 -- big
 -- huge</code></pre>
 <p>{{=T('is rendered as')}}</p>
 <ol><li>Dogs<ul><li>red</li><li>brown</li><li>black</li></ul></li><li>Cats<ul><li>fluffy</li><li>smooth</li><li>bald</li></ul></li><li>Mice<ul><li>small</li><li>big</li><li>huge</li></ul></li></ol>
 
 <h3>{{=T('Tables (with optional header and/or footer)')}}</h3>
 
 <p>{{=T('Something like this')}}</p><pre><code>-----------------
**A**|**B**|**C**
=================
  0  |  0  |  X
  0  |  X  |  0
  X  |  0  |  0
=================
**D**|**F**|**G**
-----------------:abc[id]</code></pre> 
{{=T('is a table')}} {{=T('and')}} {{=T('is rendered as')}}
<table class="abc" id="markmin_id">
<thead><tr class="first"><td><strong>A</strong></td><td><strong>B</strong></td><td><strong>C</strong></td></tr></thead>
<tbody><tr class="first"><td class="num">0</td><td class="num">0</td><td>X</td>
</tr><tr class="even"><td class="num">0</td><td>X</td><td class="num">0</td></tr>
<tr><td>X</td><td class="num">0</td><td class="num">0</td></tr></tbody><tfoot>
<tr class="first"><td><strong>D</strong></td><td><strong>F</strong></td><td><strong>G</strong></td></tr>
</tfoot></table>
{{=T('Four or more dashes delimit the table and | separates the columns. The :abc, :id[abc_1] or :abc[abc_1] at the end sets the class and/or id for the table and it is optional.')}}
