{{extend 'layout.html'}}
{{=H1(title)}}
{{if done:}}
<h2>{{=T('Result')}}:</h2>
{{=done}}
{{elif keep and merge:}}
{{=keep.custom.begin}}
<table class='web2py_grid'>
<tr><th>{{=T('Field')}}</th><th>{{=T('Person to keep')}}</th>
<th>{{=A(XML('&#8660;'),_href=URL('merge_person',vars=dict(keep=request.vars.merge, merge=request.vars.keep)),_class="linkbutton", _title=T('Switch'))}}</th>
<th>{{=T('Person to merge')}}</th></tr>
{{for field in db.ec_person.fields:}}
{{
rvars = request.vars
rvars['field']=field
}}
<tr>
<td>{{=keep.custom.label[field]}}</td>
<td>{{=keep.custom.widget[field]}}</td>
<td>{{if field != 'id':}}{{=A(XML('&#8656;'),_href=URL('merge_person',args=['mergefield'], vars=rvars),_class="linkbutton", _title=T('Use value'))}}{{pass}}</td>
<td>{{=merge.custom.widget[field]}}</td>
</tr>
{{pass}}
</table>
{{=keep.custom.submit}}
{{=keep.custom.end}}
{{else:}}
<p>{{=T('Nothing to do')}}.</p>
{{pass}}
