{{extend 'layout.html'}}
{{from datetime import date}}
{{=H1(T('My Conventions'))}}
{{oldcons=[]}}
<ul>
{{
for c in sorted(mycons.values(), key=lambda x: x['ec_start_date'] if x['ec_start_date'] else date.min):
	if 'ec_start_date' in c and c['ec_start_date']:
		datestring = ' (%s' % c['ec_start_date'].strftime(dateformatstring) 
		if 'ec_end_date' in c and c['ec_end_date']:
			datestring += ' - %s)' % c['ec_end_date'].strftime(dateformatstring)
		pass
	else:
	  	datestring = ''
		pass
}}
{{if not c['ec_start_date'] or c['ec_end_date'] and c['ec_end_date'] > request.now.date() or not c['ec_end_date'] and c['ec_start_date'] > request.now.date():}}
	{{=LI(CAT(A(c['ec_name'],_href=URL('convention','convention',args=[c['ec_short_name']])),datestring))}}
	{{else:}}{{oldcons.append(c)}}{{pass}}
{{pass}}
</ul>

{{if oldcons:}}
<h2>{{=T('Previous conventions')}}:</h2>
<ul>
{{for c in oldcons:}}
{{datestring = ' (%s' % c['ec_start_date'].strftime(dateformatstring) if c['ec_start_date'] else ''}}
{{if datestring:}}{{datestring += ' - %s)' % c['ec_end_date'].strftime(dateformatstring) if c['ec_end_date'] else ')'}}{{pass}}
{{=LI(CAT(A(c['ec_name'],_href=URL('convention','convention',args=[c['ec_short_name']])),datestring))}}
{{pass}}
</ul>
{{pass}}
{{if not mycons:}}{{=T('You have not registered for any convention yet')}}.{{pass}}
