{{extend layout}}
{{=H1(title)}}
{{if layout=='layout.html':}}
	{{if auth.is_logged_in():}}
		<p>{{=T('Your current email newsletter settings:')}} <em>{{=T(auth.user.newsletter)}}</em></p>
		<p>{{=EX(auth.user.newsletter)}}. {{=T('You can modify your newsletter settings in your profile')}}.</p>
	{{else:}}
		<p>{{=T('If you have an Easy-Con account, you can get the newsletter via email (immediate, daily or weekly)')}}.
		{{pass}}
	{{pass}}
{{if not news:}}{{=T('There is no newsletter yet')}}.{{pass}}
{{if layout=='layout.html':}}
	{{if auth.is_logged_in():}}<br/>
		{{if _is_conorga():}}
			<span class="haspopup">{{=A(T('Manage news entries'), _href=URL('manage_news'), _class="linkbutton")}}
			<span class="popup">{{=EX('manage_news')}}</span></span>
			{{pass}}
		{{pass}}
	<p/>
	{{pass}}
<h2>{{=T('Entries')}}</h2>
{{if pagination:}}
	{{if page > 1:}}
		{{=A('|<', _href=URL('newsletter', vars=dict(page=1)), _class="linkbutton")}}
		{{=A('<', _href=URL('newsletter', vars=dict(page=page-1)), _class="linkbutton")}}
		{{pass}}
	{{=T('Page %s') % page}}
	{{if nextpage > 0:}}
		{{=A('>', _href=URL('newsletter', vars=dict(page=nextpage)), _class="linkbutton")}}
		{{=A('>|', _href=URL('newsletter', vars=dict(page='last')), _class="linkbutton")}}
		{{pass}}
	{{pass}}
<table class="newsletter">
{{odd=True}}
{{for entry in news:}}
	<tr class="{{='odd' if odd else 'even'}}"><td>
	{{=XML(_get_news_text(entry))}}
	{{odd = not odd}}
	</td></tr>
	{{pass}}
</table>

