{{extend 'layout.html'}}

<h1>{{=title}}</h1>
{{=P(I(T('Sorry, this information is only available in German')))}}
<p>Für Informationen über neue Cons etc. gibt es den {{=A(T('Newsletter'), _href=URL('newsletter'))}}, mit dem Informationen an alle Nutzerinnen, die das wollen, per E-Mail verbreitet werden.</p>

<p>Con-Organisatoren können sich auf die Mailingliste <a href="http://www.easy-con.org/mailman/listinfo/easy-conorga">easy-conorga</a> eintragen,
über die neue Features bekannt gegeben, gewünscht und diskutiert werden können.</p>
<!--<p>Die wichtigsten Neuigkeiten über Easy-Con-Features werden zudem {{=A('vom Nutzer easy_con_org getwittert',_href=URL('twitter'))}}.</p>
-->
{{if news:}}
	<hr />
	<h2>Aktuelles im {{=A(T('Newsletter'), _href=URL('newsletter'), _class="linkbutton")}}:</h1>
	{{odd=True}}<table class=newsletter>
	{{for entry in news:}}
		<tr class="{{='odd' if odd else 'even'}}"><td>
		{{=XML(_get_news_text(entry))}}
		{{odd = not odd}}
		</td></tr>
		{{pass}}
	</table>
	{{=A(T('more ...'), _href=URL('newsletter'), _class="linkbutton")}}
	{{pass}}
