{{extend 'layout.html'}}
{{=H1(title)}}
{{if confirm_message:}}<div id="message">{{=confirm_message}}</div>{{=confirm_form}}
{{else:}}<p>{{=T('To promote someone else to a group, you need to know the email that she uses for her account')}}.</p>
{{=searchform}}{{pass}}
{{=H3(T('People in the %s group' % group)+':')}}
{{=groupform}}

