{{extend 'layout.html'}}
<h1>Neue Installation</h1>
{{=T('To request a new installation, we need some information')}}.
{{=T('Please fill out as many fields as possible')}}. 
{{=T('If you do not know something yet, you may configure it later')}}. 
<p>{{=EX('only_german')}}</p>
<p>
Auch für die Organisation eines Cons gilt unsere <a href="privacy.html">Datenschutzerklärung</a>, der du bereits zugestimmt hast, als du dir einen Account angelegt hast.
<br/>
Das bedeutet konkret:
<ul>
	<li>Wenn sich Menschen zu deinem Con anmelden, willigen sie ein, dass du ihre persönlichen Daten zur Organisation der Veranstaltung (und nur dafür!) verwenden darfst. </li><p/>
	<li>Wenn du Daten der Teilnehmer für andere Zwecke verwenden willst - z.B. um die Teilnehmer einer deiner Veranstaltungen zu einem Vereinsfest einzuladen - musst du dafür eine extra Zustimmung einholen. Dies kannst du z.B. über einen entsprechenden Hinweis im Anmeldeformular tun. Mit einem "zusätzlichen Feld bei der Anmeldung" kannst du erreichen, dass eine Anmeldung nur bei gesetztem Zustimmungs-Häkchen möglich ist.</li><p/>
	<li>Easy-Con ermöglicht es, persönliche Daten der Teilnehmer zu exportieren, z.B. um per Excel eine Teilnehmerliste zu erstellen. Wenn du dieses Feature nutzt, verpflichtest du dich, mit den exportierten Daten sorgsam umzugehen. Du darfst sie nur für die Organisation der Veranstaltung nutzen und darfst sie auch nicht unverschlüsselt über das Internet schicken. Wenn du z.B. eine Zimmerverteilung an die Rezeption einer Unterkunft per E-Mail schicken willst, musst du die Datei vorher mit einem Passwort verschlüsseln.</li>
</ul>
</p>
<p>
{{=requestform}}
</p>
{{=T('We will contact you within the next days')}}.
