{{extend 'layout.html'}}
{{=H1(title)}}
{{=T('The time')}}: {{=request.now}}
{{if system_tasks:}}
	<p>{{=T('Start system tasks')}}:
	{{for task in system_tasks:}}
		{{=A(task, _href=URL('schedule_system_tasks', vars=dict(start=task)), _class='linkbutton')}}
		{{pass}}</p>
	{{pass}}
	<p>{{=T('Run system tasks')}}:
	{{for task in run_tasks:}}
		{{=A(task, _href=URL('schedule_system_tasks', vars=dict(run=task)), _class='linkbutton')}}
		{{pass}}</p>
	{{pass}}
{{=form}}

