{{extend layout}}
{{=H1(title)}}
{{if not series:}}
	{{if all_series:}}
		{{=T('The following convention series exist')}}:
		<ul>
			{{for s in all_series:}}
				{{=LI(A(s.ec_name, _href=URL('series',args=s.ec_short_name)))}}
				{{pass}}
		</ul>
	{{else:}}
		{{=T('There are no public convention series yet')}}.
		{{pass}}
	{{if _is_conadmin():}}
		<hr />
		<p>{{=A(MV('manage_series'), _href=URL('manage_series'), _class="linkbutton")}}</p>
		{{pass}}
{{else:}}
	{{=MARKMIN(series.ec_description)}}
	<table>
	{{if series.ec_contact_email:}}
		{{=TR(TD(B(T('Contact')+':')),TD(A(series.ec_contact_email, _href='mailto:%s' % series.ec_contact_email)))}}
	{{pass}}
	{{if series.ec_website:}}
		{{=TR(TD(B(db.ec_series.__getattribute__('ec_website').label + ':')), TD(A(series.ec_website, _href=series.ec_website)))}}
	{{pass}}
	</table>
	{{if next_convention:}}{{config=db.ec_configuration(next_convention.ec_id_configuration)}}
		<h2>{{=T('Next convention')}}: {{=A(next_convention.ec_name, _href=URL('convention', 'convention', args=next_convention.ec_short_name))}}
		({{=next_convention.ec_start_date.strftime(dateformatstring) if next_convention.ec_start_date else "-"}} - {{=next_convention.ec_end_date.strftime(dateformatstring) if next_convention.ec_end_date else "	-"}})
		</h2>
		<ul>
			<li>{{=T('Organizer')}}: {{=next_convention.ec_organizer}}</li>
			{{if config and config.ec_location_show_location and config.ec_location_city:}}<li>{{=T('Location')}}: {{=config.ec_location_zip if config.ec_location_zip else ''}} {{=config.ec_location_city}}</li>{{pass}}
			{{=MARKMIN(next_convention.ec_description)}}
		</ul>
		{{pass}}
	{{if conventions:}}
		<h2>{{=T('All conventions')}}:</h2>
		<ul>
		{{for c in conventions:}}
			<li>{{=A(c.ec_name, _href=URL('convention','convention', args=c.ec_short_name))}} ({{=c.ec_start_date.strftime(dateformatstring) if c.ec_start_date else "-"}} - {{=c.ec_end_date.strftime(dateformatstring) if c.ec_end_date else "	-"}})</li>
			{{pass}}
		</ul>
		{{pass}}
	{{if not next_convention and not conventions:}}
		<p>{{=T('This series does not have any conventions yet')}}.</p>
		{{pass}}
	{{if auth.has_permission('configure', db.ec_series, series.id) and layout=='layout.html':}}
		<br />
		<br />
		<hr />
		{{=A(T('Manage Admin group'), _href=URL('promote', vars=dict(series=series.id)), _class="linkbutton")}}
		{{=A(MV('manage_series'), _href=URL('manage_series'), _class="linkbutton")}}
		{{pass}}
	{{pass}}
