{{extend 'layout.html'}}
<h1>{{=title}}</h1>
{{=P(I(T('Sorry, this information is only available in German')))}}
<p>Die wichtigsten Neuigkeiten über Easy-Con-Features wurden mal zusätzlich zum {{=A(T('Newsletter'), _href=URL('newsletter'))}} vom Nutzer easy_con_org getwittert. Jetzt aber aus Gründen nicht mehr.</p>
<a width="520" height="800" class="twitter-timeline" href="https://twitter.com/easy_con_org"  data-widget-id="457935702974427136" >Tweets von @easy_con_org</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

