{{extend 'layout.html'}}
<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
{{if request.args(0)=='login':}}
	<p><b>{{=T('Please note that we convert all e-mail addresses to lower case')}}.</b><p>
	{{pass}}

{{if request.args(0)=='register':}}
	<p>{{=EX('only_german')}}</p>
	<p>Um dich zu Conventions anmelden zu können oder Conventions mit Hilfe von Easy-Con zu organisieren, brauchst du einen kostenlosen Account, den du hier kostenlos anlegen kannst.

	Bitte lies und akzeptiere unsere <a href='../privacy.html'>Datenschutzerklärung</a>, da du sonst unsere Dienste nicht nutzen kannst.</p>
	{{pass}}

<div id="web2py_user_form">
{{
if request.args(0)=='login':
    if not 'register' in auth.settings.actions_disabled:
        form.add_button(T('New Account'),URL(args='register'),_class='btn')
    pass
    if not 'request_reset_password' in auth.settings.actions_disabled:
        form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn')
    pass
pass
=form
}}
</div>
{{if request.args(0)=='profile' and db(auth.accessible_query('is_me', db.ec_person)).select():}}
	<p/>
	{{=A(T('With your account, you can manage the following personae') + '...',_href=URL('default','my_personae'))}}
	{{pass}}
<script language="javascript"><!--
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0)=='change_password':}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
//--></script>
