<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
EasyCon layout for export
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 	<!-- include stylesheets -->
	{{
	response.files.append(URL('static','css/export.css'))
	}}
{{include 'web2py_ajax.html'}}
</head>
 <body>
   <div id="page">
	<div class="easycon">
	{{include}}
    </div>
   </div>
 </body>
</html>
