<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
EasyCon layout
-->
{{
config = None
is_series = False
if request.controller=='convention':
	convention=_get_convention_conname(request.args(0))
	session.conventionid=convention.id
	config=db.ec_configuration(convention.ec_id_configuration)
	pass
if request.controller == 'default' and request.function == 'series':
	is_series = True
	# Hack: a series has the same relevant attributes as conventions and their config
	config = db(db.ec_series.ec_short_name == request.args(0)).select().first()
	convention = config
	pass
}}
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
        <!-- include stylesheets -->
        {{
        response.files.append(URL('static','css/easycon.css'))
        }}

        {{include 'web2py_ajax.html'}}

</head>
{{if config:}}<body style="background-color:{{=config.ec_design_backgroundcolor}}; background-image: URL({{=URL('default','download',args=config.ec_design_background)}});">{{else:}}<body>{{pass}}
  <!-- start header -->
  {{try:}}
  {{
        navbar=auth.navbar(action=URL('default','user'))
        if auth.is_logged_in():
                navbar[3] = CAT(A(T('My Conventions'), _href=URL('default','my_conventions')), ' | ', A(T('Logout'),_href=URL('default','user', args='logout')))
        else:
                navbar[3] = A(T('New Account'),_href=URL('default','user', args='register'))
        pass
        response.write(navbar)
  }}
  {{except:pass}}

  <div id="header">
   <!--div id="search">
        <form method="get" action="">
         <fieldset>
          <legend>
           Quick Search
          </legend>
          <input id="s" type="text" name="s" value="" />
          <input id="x" type="submit" value="Search" />
         </fieldset>
        </form>
   </div-->

   <div id="legal_notes">
   {{if request.controller == 'convention':}}{{=A(T('Imprint'), _href=URL('convention','imprint',args=convention.ec_short_name))}} | {{=A(T('Privacy notice'), _href=URL('convention','privacy',args=convention.ec_short_name))}}   
   {{else:}}{{=A(T('Imprint'), _href=URL('default','imprint'))}} | {{=A(T('Privacy notice'), _href=URL('default','privacy'))}}
   {{pass}}
   </div>

   <div id="person">{{
   if auth.is_logged_in() and auth.user.active_person is None:
   	  auth.user.active_person = -1
   	  pass
   if auth.is_logged_in() and auth.user.active_person!=-1 and request.controller == 'convention':
        convention = _get_convention_conname(request.args(0))
        config=db.ec_configuration(convention.ec_id_configuration) if convention else None
        person = db.ec_person(auth.user.active_person)
        my_attendance = _get_attendance(convention, person.id)
        attendance_string = ' (%s)' % T(my_attendance.ec_registration_state) if my_attendance else ''
        if person and convention:
                response.write(A(T('Acting person') + ': %(ec_firstname)s %(ec_lastname)s' % person.as_dict() + attendance_string, \
                _href=URL('convention','my_personae', args=convention.ec_short_name)))
        pass
pass
   }}</div>
   <div id="logo">
{{if config and config.ec_design_logo:}}
	{{if is_series:}}
		<a href="{{=URL('default','series',args=convention.ec_short_name)}}">
	{{else:}}
		<a href="{{=URL('convention','convention',args=convention.ec_short_name)}}">
		{{pass}}
	<img src="{{=URL('default','download',args=config.ec_design_logo)}}" height="{{=config.ec_design_logo_height}}" alt="{{=convention.ec_name}} Logo"></a>
{{else:}}
	<a href="{{=URL('default','index')}}"><img src="{{=URL('static','images/easycon-logo.png')}}" alt="EasyCon Logo"></a>
        <h2>
         {{=response.subtitle or '=response.subtitle'}}
        </h2>
   {{pass}}
   </div>
   <div id="menu">
        {{=MENU(response.menu,_class='web2py-menu')}}
   </div>
  </div>

  <!-- start page -->
  <div id="page">
  {{try:}}
  {{if layout=='layout.html':}}
		{{request.vars.update(dict(display='print'))}}<div id="icon"><a href="{{=URL(request.controller, request.function, args=request.args, vars=request.vars)}}"><img src="{{=URL('static','images/printview.png')}}" alt={{=T('Print view')}} name={{=T('Print view')}}/></a></div>
		{{pass}}
  {{except:}}{{pass}}
  {{try:}}
  {{if auth.has_membership('easycon_admin'):}}
		{{if adminview:}}
			{{del request.vars['display']}}
				<div id="icon"><a href="{{=URL(request.controller, request.function, args=request.args, vars=request.vars)}}"><img src="{{=URL('static','images/no-adminview.png')}}" alt={{=T('Normal view')}} name={{=T('Normal view')}}/></a></div>
			{{else:}}
				{{request.vars.update(dict(display='admin'))}}<div id="icon"><a href="{{=URL(request.controller, request.function, args=request.args, vars=request.vars)}}"><img src="{{=URL('static','images/adminview.png')}}" alt={{=T('Admin view')}} name={{=T('Admin view')}}/></a></div>
			{{pass}}
		{{pass}}
  {{except:}}{{pass}}
   <!-- start content -->
   <div id="content">
        {{if response.flash:}}<div class="flash">{{=response.flash}}</div>{{pass}}
        {{include}}
   </div>
   <!-- end content -->
  </div>
  <div id="footer">
  <p align="right">Powered by {{=A('Easy-Con',_href="http://www.easy-con.org")}}</p>
  </div>
 </body>
</html>

