<!DOCTYPE html>
{{
config = None
is_series = False
if request.controller=='convention':
	convention=_get_convention_conname(request.args(0))
	config=db.ec_configuration(convention.ec_id_configuration)
	pass
if request.controller == 'default' and request.function == 'series':
	is_series = True
	# Hack: a series has the same relevant attributes as conventions and their config
	config = db(db.ec_series.ec_short_name == request.args(0)).select().first()
	convention = config
	pass
}}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="P3P" content="CP=\"IDC DSP COR CURa ADMa OUR IND PHY ONL COM STA\"" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{=response.title or URL()}}</title>
        {{
        response.files.append(URL('static','css/bootstrap.min.css'))
        response.files.append(URL('static','css/bootstrap_essentials.css'))
        response.files.append(URL('static','css/bootstrap-responsive.min.css'))
        response.files.append(URL('static','css/easycon.css'))        
        }}
        {{include 'web2py_ajax.html'}}
    </head>

{{if config:}}<body style="background-color:{{=config.ec_design_backgroundcolor}}; background-image: URL({{=URL('default','download',args=config.ec_design_background)}});">{{else:}}<body>{{pass}}
  <!-- start header -->
  {{try:}}
  {{
        navbar=auth.navbar(action=URL('default','user'))
        if auth.is_logged_in():
                navbar[3] = CAT(A(T('My Conventions'), _href=URL('default','my_conventions')), ' | ', A(T('Logout'),_href=URL('default','user', args='logout')))
        else:
                navbar[3] = A(T('New Account'),_href=URL('default','user', args='register'))
        pass
        response.write(navbar)
  }}
  {{except:pass}}

  <div id="header">
   <!--div id="search">
        <form method="get" action="">
         <fieldset>
          <legend>
           Quick Search
          </legend>
          <input id="s" type="text" name="s" value="" />
          <input id="x" type="submit" value="Search" />
         </fieldset>
        </form>
   </div-->
   <div id="legal_notes">
           {{=A(T('Legal notes'), _href=URL('default','legal_notes'))}}
   </div>
   <div id="person">{{
if auth.is_logged_in() and session.auth_personid and request.controller == 'convention':
        convention = _get_convention_conname(request.args(0))
        config=db.ec_configuration(convention.ec_id_configuration) if convention else None
        person = db.ec_person(session.auth_personid)
        if person and convention and config and config.ec_registration_other:
                response.write(A(T('Acting person') + ': %(ec_firstname)s %(ec_lastname)s' % person.as_dict(), _href=URL('convention','my_personae', args=convention.ec_short_name)))
        pass
pass
   }}</div>
   <div id="logo">
{{if config and config.ec_design_logo:}}
	{{if is_series:}}
		<a href="{{=URL('default','series',args=convention.ec_short_name)}}">
	{{else:}}
		<a href="{{=URL('convention','convention',args=convention.ec_short_name)}}">
		{{pass}}
	<img src="{{=URL('default','download',args=config.ec_design_logo)}}" height="{{=config.ec_design_logo_height}}" alt="{{=convention.ec_name}} Logo"></a>
{{else:}}
	<a href="{{=URL('default','index')}}"><img src="{{=URL('static','images/easycon-logo.png')}}" alt="EasyCon Logo"></a>
        <h2>
         {{=response.subtitle or '=response.subtitle'}}
        </h2>
   {{pass}}
   </div>
   <div id="menu">
        {{=MENU(response.menu,_class='web2py-menu')}}
        <script>
          jQuery(document).ready(function(){jQuery('ul.web2py-menu').superfish({delay:400});});
        </script>
   </div>
   
  <div id="page">
  {{try:}}
  {{if layout=='layout.html':}}
		{{request.vars.update(dict(display='print'))}}<div id="icon"><a href="{{=URL(request.controller, request.function, args=request.args, vars=request.vars)}}"><img src="{{=URL('static','images/printview.png')}}" alt={{=T('Print view')}} name={{=T('Print view')}}/></a></div>
		{{pass}}
  {{except:}}{{pass}}
  {{try:}}
  {{if auth.has_membership('easycon_admin'):}}
		{{if adminview:}}
			{{del request.vars['display']}}
				<div id="icon"><a href="{{=URL(request.controller, request.function, args=request.args, vars=request.vars)}}"><img src="{{=URL('static','images/no-adminview.png')}}" alt={{=T('Normal view')}} name={{=T('Normal view')}}/></a></div>
			{{else:}}
				{{request.vars.update(dict(display='admin'))}}<div id="icon"><a href="{{=URL(request.controller, request.function, args=request.args, vars=request.vars)}}"><img src="{{=URL('static','images/adminview.png')}}" alt={{=T('Admin view')}} name={{=T('Admin view')}}/></a></div>
			{{pass}}
		{{pass}}
  {{except:}}{{pass}}

        <!-- MAIN
        =========== -->
            <div id="{{=globals().get('main_id', 'main')}}" class="container-fluid">
                <div id="main_inner" class="row-fluid">
                    <div class="span12">
                        <div class="flash alert">{{=response.flash or ''}}</div>
                        {{include}}
                    </div><!-- /main span12 -->
                </div><!-- /main row-fluid -->
            </div><!-- /#main -->

        <!-- FOOTER
        ============== -->
        {{block footer}}
        <div id="footer">
        <p align="right">Powered by {{=A('Easy-Con',_href="http://www.easy-con.org")}}</p>
        </div>
        {{end}}

        <!-- BS JAVASCRIPT
        ====================== -->
        <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery("[rel=tooltip]").tooltip();
            });
        </script>
        <script>
            // ====================
            // upload input mask
            // ====================

            function FileSelectHandler(e) {
                e.stopPropagation();
	                var filename = e.target.value.split(/\\|\//).pop();
                jQuery('#fileselect>span').removeClass('txtPlaceholder').text(filename)
            }

            jQuery(document).ready(function(){
                var iupload = jQuery('#appupdate_file');
                var ow = 300, oh = 20;
                var iplaceholder = jQuery('<span class="txtPlaceholder">{{=T("no package selected")}}</span>'),
                    iuploadbtn = jQuery('<button class="btn btn-inverse btn-mini uploadbtn"><i class="icon-white icon-circle-arrow-up"></i></button>');
                iupload
                    .addClass('masked')
                    .wrap('<div id="fileselect" style="width:'+ow+'px;height:'+oh+'px"></div>')
                    .on('change', function(event){FileSelectHandler(event)});
                jQuery('#fileselect').append(iplaceholder, iuploadbtn);
            });
        </script>

        {{if request.function in ('index','site'):}}
        <a style="position:fixed;bottom:0;left:0;z-index:1000" href="https://groups.google.com/forum/?fromgroups#!forum/web2py" target="_blank">
            <!-- http://webchat.freenode.net/?channels=web2py" //-->
            <img src="{{=URL('static','images/questions.png')}}" />
        </a>
        {{pass}}
    </body>
</html>
