<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
EasyCon layout for printout
-->
{{
config = None
is_series = False
if request.controller=='convention':
	convention=_get_convention_conname(request.args(0))
	config=db.ec_configuration(convention.ec_id_configuration)
	pass
if request.controller == 'default' and request.function == 'series':
	is_series = True
	# Hack: a series has the same relevant attributes as conventions and their config
	config = db(db.ec_series.ec_short_name == request.args(0)).select().first()
	convention = config
	pass
}}
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
        <!-- include stylesheets -->
        {{
        response.files.append(URL('static','css/easycon-print.css'))
        }}

        {{include 'web2py_ajax.html'}}



</head>
<body>

  {{del request.vars['display']}}{{url=URL(request.controller, request.function, args=request.args, vars=request.vars)}}
  <!-- start page -->
  <p>
  {{if config and config.ec_design_logo:}}
  	<a href="{{=url}}">
  	<img id="printlogo" src="{{=URL('default','download',args=config.ec_design_logo)}}" height="{{=config.ec_design_logo_height}}" alt="{{=T('Back')}} Logo">
  	</a>
  	{{pass}}
  </p>
  <div id="page">
   <!-- start content -->
   <div id="content">
        <div class="flash">{{=response.flash or ''}}</div>
        {{include}}
   </div>
   <!-- end content -->
  </div>
  <div id="footer">
  {{=BR()*4}}<p align="right"><small>Powered by {{=A('Easy-Con',_href=URL('default','index'))}}</small></p>
  </div>
 </body>
</html>
