{{extend layout}}
{{if layout=='layout.html':}}{{=H1(title)}}
<p class="haspopup">{{=B(T('Send e-mail to group'),':')}}
{{for group in ['needs_to_pay','registered','attendee','waitlist','deregistered']:}}
{{=A(MV(group), _href=URL('convention','emails',args=[convention.ec_short_name],vars=dict(grouptos=group)), _class="linkbutton")}}
{{pass}}<span class="popup">{{=EX('send_email_to_groups')}}</span></p>
{{if config.ec_registration_waitlist:}}
	<p class="haspopup">{{=A(T('Manage waitlist'), _href=URL('convention','manage_waitlist',args=convention.ec_short_name), _class="linkbutton")}} {{=T('People on waitlist')}}: {{=waitlist_people}}
	<span class="popup">{{=EX('waitlist_convention')}}</span></p>{{pass}}
{{if there_are_waitlist_items:}}
	<p class="haspopup">{{=A(T('Manage item waitlist'), _href=URL('convention','manage_item_waitlist',args=convention.ec_short_name), _class="linkbutton")}}
	<span class="popup">{{=EX('waitlist_items')}}</span></p>{{pass}}
{{=H3(T('List of attendees'))}}
{{else:}}{{=H2(T('List of participants'))}}{{pass}}
{{if config.ec_registration_waitlist:}}<p>{{=T('People on waitlist')}}: {{=waitlist_people}}</p>{{pass}}
{{=form}}
{{if layout=='print.html':}}{{=P(request.now.strftime(datetimeformatstring))}}{{pass}}
