{{extend 'layout.html'}}
{{=H1(T('Send emails')+' '+T('for')+' '+convention.ec_name)}}
{{if message:}}<p id="message">{{=message}}</p>{{pass}}
{{if result:}}
{{=B(T('Result')+':')}}
<ul>
{{for r in result:}}{{=LI(r)}}{{pass}}
</ul>
<pre>
{{=preview}}
</pre>
{{elif preview:}}
{{=B(T('Message preview')+':')}}
<pre>
{{=preview}}
</pre>
{{pass}}
{{if not result:}}
{{=emailform}}
{{pass}}

