{{extend 'layout.html'}}
{{=H1(title)}}
<p>
{{if attendance.ec_registration_state:}}{{=db.ec_attendance.ec_registration_state.label}}: {{=MV(attendance.ec_registration_state)}}<br/>{{pass}}
{{if attendance.ec_arrival:}}{{=db.ec_attendance.ec_arrival.label}}: {{=attendance.ec_arrival.strftime(dateformatstring)}}<br/>{{pass}}
{{if attendance.ec_departure:}}{{=db.ec_attendance.ec_departure.label}}: {{=attendance.ec_departure.strftime(dateformatstring)}}<br/>{{pass}}
</p>
<!-- if this view was called to moveup an attendee from waitlist: -->{{=moveup_report}}
{{=required_item_report}}
<!--{{=A(T('Back'), _href=URL('convention','attendees',args=[convention.ec_short_name]), _class="linkbutton")}}-->
<!-- if this view was called to moveup an attendee from waitlist: -->{{=moveup_email}}
{{=form}}

