{{extend layout}}
{{=H1(title)}}
{{if not ('view' in request.args or 'edit' in request.args):}}
	{{if layout=='layout.html':}}<p>{{=T('On this page, you can manage bed rooms on your convention')}}.</p>
		{{=configform}}
		{{=P(A(T('Bulk bedroom creation'),_href=URL('convention','bulk_bedrooms',args=convention.ec_short_name), _class="linkbutton"))}}
		{{pass}}
	{{pass}}
{{=result}}
<p>{{=T('People without a room')}}:{{if attendees_no_room:}}
<ul>{{for att in attendees_no_room:}}
   <li>{{=A('%(ec_firstname)s %(ec_lastname)s ("%(ec_nickname)s")' % att.ec_person, _href=URL('manage_attendee',args=[convention.ec_short_name,att.ec_attendance.id]))}}, {{=MV(att.ec_attendance.ec_registration_state)}}</li>{{pass}}
</ul>{{else:}} 0{{pass}}</p>
