{{extend 'layout.html'}}
{{=H1(title)}}
{{if result:}}<h2>{{=T('Result')}}:</h2>
{{=result}}
{{=P(A(T('Do it again'),_href=URL('convention','bulk_con_invitations',args=convention.ec_short_name), _class="linkbutton"))}}
{{else:}}<p>{{=T('Here you can invite multiple people at once')}}.</p>{{=form}}
{{pass}}
{{=P(A(T('Manage convention invitations'),_href=URL('convention','con_invitations',args=convention.ec_short_name), _class="linkbutton"))}}

