{{extend 'layout.html'}}
{{=H1(title)}}
{{if config.ec_registration_invite_capacity==0:}}<div class="error_wrapper">{{=MV('explain_no_con_invitations')}}</div>{{pass}}
<p>{{=T('On this page, you can create invitations for user accounts, identified by the e-mail address')}}.
{{=T('You can create multiple invitations for an account')}}.<br />
{{if not config.ec_registration_other:}}{{=T('However, since at your convention, people can only register themselves, only the first invitation can be used by an account')}}.
{{else:}}{{=T('Since at your convention, people can register other people (e.g., family or friends), they need one invitation per person to be registered')}}.{{pass}} 
<br/>{{=T('You can change this here')}}: {{=A('%s: %s' % (T('Configure'), T('Registration')), _href=URL('convention', 'configure', args=[convention.ec_short_name,'registration']))}}.</p>
{{=P(A(T('Bulk convention invitations'),_href=URL('convention','bulk_con_invitations',args=convention.ec_short_name), _class="linkbutton"))}}
<p>{{=T('Send invitation')}}: {{=A(T('to non-notified invitations'),_href=URL('convention','con_invitations',args=convention.ec_short_name,vars=dict(notifyall='normal')), _class="linkbutton")}}
{{=A(T('to everyone'),_href=URL('convention','con_invitations',args=convention.ec_short_name,vars=dict(notifyall='everyone')), _class="linkbutton")}}
{{=result}}
