{{extend 'layout.html'}}
{{=H1(T('Configuration') + ' ' + T('for')+ ' ' + convention.ec_name)}}
<span class="haspopup">{{=B(T('Convention state'))}}: {{=B(convention.ec_convention_state)}}
<span class="popup">{{if not convention.ec_id_configuration:}}
	{{=EX('no_config_state_%s' % convention.ec_convention_state)}}
{{else:}}
	{{=EX('state_%s' % convention.ec_convention_state)}}</span>
	{{if convention.ec_convention_state=='active':}}
		{{if _check_is_open(convention.id):}}{{=T('and')}} {{=T('open')}}.
		{{elif _check_is_closed(convention.id):}}{{=T('and')}} {{=T('closed')}}.
		{{elif _check_is_over(convention.id):}}{{=T('and')}} {{=T('over')}}.{{pass}}
		{{else:}}.{{pass}}
	{{pass}}
{{=A(T('Learn more about the convention state'),_href=URL('default','help'))}}.</span>
<br />
{{if config and action=='view':}}
	<p>{{=T('As admin for "%s" you can configure the following things') % convention.ec_name}}:</p>
	<p><span class="haspopup">{{=A(T('Master data for convention'), _href=URL('convention','configure_main',args=[convention.ec_short_name,'edit']), _class="linkbutton")}}
	 	 <span class="popup">{{=EX('configure_main')}}</span></span>
	 	 {{for what in ['basic_config','location', 'emails','events','design']:}}
	 	 	{{if what!='events' or config.ec_events:}}
				<span class="haspopup">{{=A(MV(what), _href=URL('convention','configure',args=[convention.ec_short_name,what]), _class="linkbutton")}}
				<span class="popup">{{=EX('configure_%s' % what)}}</span></span>
				{{pass}}
			{{pass}}
			<span class="haspopup">{{=A(MV('export_config'), _href=URL('convention','export_config',args=[convention.ec_short_name]), _class="linkbutton")}}
            <span class="popup">{{=EX('export_config')}}</span></span>
            </p>
	{{if config.ec_convention_requires_registration:}}
	<p>{{what='registration'}}
		 <span class="haspopup">{{=A(MV(what), _href=URL('convention','configure',args=[convention.ec_short_name,what]), _class="linkbutton")}}
	 	 <span class="popup">{{=EX('configure_%s' % what)}}</span></span>
	 	 {{for what in ['extradata','items','rules']:}}
			 <span class="haspopup">{{=A(MV(what), _href=URL('convention',what,args=convention.ec_short_name), _class="linkbutton")}}
	 	 	 <span class="popup">{{=EX('configure_%s' % what)}}</span></span>
			 {{pass}}
		 <span class="haspopup">{{=A(T('Preview registration'), _href=URL('preview_registration',args=[convention.ec_short_name]), _class="linkbutton")}}
	 	 <span class="popup">{{=EX('preview_registration')}}</span></span>
		 </p>{{pass}}
 	<p>{{for what in ['admin','orga']:}}
 			 <span class="haspopup">{{=A(MV(what), _href=URL('convention','promote',args=convention.ec_short_name, vars=dict(what=what)), _class="linkbutton")}}
	 	 	 <span class="popup">{{=EX('%s_group' % what)}}</span></span>
 			{{pass}}</p>
 	{{pass}}
<br />
<hr />
{{=H2(T('Master data for convention'))}}
{{=conventionform}}
{{if action=='view':}}
	{{=P(A(T('edit'),_href=URL('configure_main',args=[convention.ec_short_name,'edit','convention']),_class="linkbutton"))}}
	{{pass}}

{{if copyconfigform:}}
	<br />
	<hr />
    {{if configuploadform:}}
        {{=H2(T('Upload configuration file'))}}
        {{=configuploadform}}
        {{pass}}
	{{=H2(T('Copy configuration from other convention or create new configuration'))}}
	{{=copyconfigform}}
    {{pass}}
