{{extend 'layout.html'}}
{{=H1(title)}}
{{=message}}
{{if what=='emails':}}
	<p>{{=EX('emails_escape')}}</p>
	{{pass}}
{{=configform}}
{{if what=='registration':
	further=['extradata','items','rules']
elif what=='events':
	further=['timeslots',]
elif what=='basic_config':
	further=[]
else:
	further = []
pass}}
{{if further:}}
<h2>{{=T('Further configuration')}}:</h2>
<p>{{for what in further:}}{{=A(MV(what), _href=URL('convention',what,args=convention.ec_short_name), _class="linkbutton")}} {{pass}}</p>
{{pass}}
