{{extend 'layout.html'}}
<h1>{{=T('Contact organizers of')}} {{=convention.ec_name}}:</h1>
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
<p>
{{if convention.ec_contact_email:
response.write('... ' + T('by public contact e-mail')+': ')
response.write(A(convention.ec_contact_email, _href='mailto:%s' % convention.ec_contact_email))
pass
}}
</p>

<p>
{{if (convention.ec_contact_email or convention.ec_hidden_email):}}
... {{=T('when logged in, by our')}} {{=A(T('contact form'),_href=URL('orga_email',args=convention.ec_short_name))}}
{{else:}}
{{=T('This convention organization has not defined any e-mail address')}}.
{{pass}}
</p>

<br><br><br><br>
<hr>
<b>{{=T('Contact Easy-Con adminstration')}}:
{{
response.write(A('Mail an Daniela', _href='mailto:dani@easy-con.org'))
}}
</b>
