{{extend 'layout.html'}}
{{=H1('%(ec_name)s (%(ec_short_name)s)' % convention)}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}


<table>
{{if convention.ec_organizer:}}
	{{=TR(TD(B(T('Organizer')+':'),TD(convention.ec_organizer)))}}
	{{pass}}

{{for f in ['ec_start_date','ec_end_date']:}}
	{{=TR(TD(B(db.ec_convention.__getattribute__(f).label+':')),TD(convention.__getattribute__(f).strftime(dateformatstring) if convention.__getattribute__(f) else T('not defined')))}}
	{{pass}}

{{if config.ec_convention_requires_registration and not config.ec_registration_period_start:
	label=T('Registration')
	value=T('Not possible')}}
	{{=TR(TD(B(label+':')),TD(value))}}
	{{pass}}

{{if config.ec_registration_period_start:
	label=T('Registration start')
	value=T('%s at %s') % (config.ec_registration_period_start.strftime(dateformatstring),config.ec_registration_period_start.strftime(timeformatstring))}}
	{{=TR(TD(B(label+':')),TD(value))}}
	{{pass}}
{{if config.ec_registration_period_stop:
	label=T('Registration closes')
	value=T('%s at %s')  % (config.ec_registration_period_stop.strftime(dateformatstring),config.ec_registration_period_stop.strftime(timeformatstring))}}
	{{=TR(TD(B(label+':')),TD(value))}}
	{{pass}}

<tr>
{{=TD(B(T('State')+':'))}}<td>
{{if convention.ec_convention_state=='active':}}
	{{if _check_is_open(convention.id):}}{{=T('open')}}
	{{elif _check_is_closed(convention.id):}}{{=T('closed')}}
	{{elif _check_is_over(convention.id):}}{{=T('over')}}{{pass}}
	{{else:}}{{=T(convention.ec_convention_state)}}
	{{pass}}</td></tr>
{{if convention.ec_contact_email:}}
	{{=TR(TD(B(T('Contact')+':')),TD(A(convention.ec_contact_email, _href='mailto:%s' % convention.ec_contact_email)))}}
{{pass}}
{{if convention.ec_website:}}
	{{=TR(TD(B(db.ec_convention.__getattribute__('ec_website').label)), TD(A(convention.ec_website, _href=convention.ec_website)))}}
{{pass}}
{{if config.ec_convention_requires_registration and convention.ec_convention_state=='active' and free_items:}}
	{{for entry in free_items:}}{{=TR(TD(B('%s:'%entry[0]), TD(entry[1])))}}{{pass}}
{{pass}}
{{if series:}}{{serieslist = [str(A(s.ec_name, _href=URL('default','series', args=s.ec_short_name))) for s in series]}}
	{{=TR(TD(B(T('Convention series')+':')), TD(XML(', '.join(serieslist))))}}
	{{pass}}
</table>


<p>{{if convention.ec_description:}}
	{{=B(db.ec_convention.__getattribute__('ec_description').label,':')}}
	{{=MARKMIN(convention.ec_description)}}
{{pass}}</p>

{{if config.ec_location_show_location:}}
{{=H3(T('Location'))}}
<table>{{for l in db.ec_configuration.fields:}}
{{if l.startswith('ec_location_') and l not in ['ec_location_show_location'] and getattr(config, l) and (l!='ec_location_phone_at_convention' or is_attendee):}}
{{if db.ec_configuration[l].represent:}}{{=TR(TD(B(db.ec_configuration[l].label)), TD(db.ec_configuration[l].represent(getattr(config, l), l)))}}
{{else:}}{{=TR(TD(B(db.ec_configuration[l].label)), TD(getattr(config, l)))}}{{pass}}
{{pass}}{{pass}}
</table>{{pass}}



