{{extend 'layout.html'}}
{{=H1(title)}}
{{=form}}
<ul>
	{{=LI('%s: %s' % (T('Id'), invite.id))}}
	{{=LI('%s: %s' % (T('Date of the invitation'), invite.ec_invite_date.strftime(datetimeformatstring)))}}
	{{=LI('%s: %s' % (T('State of the invitation'), MV(invite.ec_status)))}}
	{{=LI('%s: %s' % (T('Expiry date'), invite.ec_expiry_date.strftime(datetimeformatstring) if invite.ec_expiry_date else T('not specified')))}}
	<li>{{=T('Text')}}: {{=MARKMIN(invite.ec_text)}}</li>
</ul>
