{{extend 'layout.html'}}
{{=H1(title)}}
{{=attendeedata}}
{{if mode=='waitlist':}}
{{=B(EX('waitlist_move_to_waitlist')+'.')}}
<p class="haspopup">{{=move_to_waitlist}}
<span class="popup">{{=EX('waitlist_move_to_waitlist')}}</span></p>
{{elif mode=='decline':}}
{{=B(EX('deregistration')+'.')}}
{{=P(EX('deregistration_no_auto_deletion_of_events')+'.')}}
<p class="haspopup">{{=deregistration}}
<span class="popup">{{=EX('deregistration')}}</span></p>
{{elif mode=='delete':}}
{{=H2(T('Delete registration'))}}
{{=P(EX('delete_registration'))}}
{{=deleteform}}
{{pass}}
{{=A(T('back'), _class=('button'),_href=URL('manage_attendee',args=[convention.ec_short_name,attendanceid]))}}
