{{extend 'layout.html'}}
{{=H1(T('Send emails')+' '+T('for')+' '+convention.ec_name)}}
{{if result:}}
{{=B(T('Result')+':')}}
<ul>
{{for r in result:}}{{=LI(r)}}{{pass}}
</ul>
<pre>
{{=message}}
</pre>
{{elif message:}}
{{=B(T('Message preview')+':')}}
<pre>
{{=message}}
</pre>
{{pass}}
{{=emailform}}
