{{extend layout}}
{{if layout=='layout.html':}}{{=H1(title)}}{{else:}}{{H2(title)}}{{pass}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
<table>{{for k in overview:}}
<tr><td><b>{{=k}}{{=':' if k else ' '}}</b></td><td>{{=overview[k]}}</td></tr>
{{pass}}</table>
{{if potential_gms:}}<p>{{=T('%s of the attendees have indicated that they are potential game masters') % potential_gms}}.</p>{{pass}}
{{if pertimeslot:}}<h2>{{=T('Per timeslot')}}:</h2>
	{{if layout=='layout.html':}}<p>{{=T('If you click on one of the numbers under the event types, you can register a new event in this time slot')}}.</p>{{pass}}
	<table id="ec_datatable">
	<colgroup><col data-column="1" id="ec_when" /><col data-column="2" id="ec_eventnumber" /><col data-column="3" id="ec_capacity" />
	{{cnt=4}}{{for et in eventtypes:}}<col data-column="{{=cnt}}" id="{{=et}}"/>{{cnt+=1}}{{pass}}
	</colgroup>
	<tr>{{=CAT(TH(T('When')+'?'),TH(T('Events')), TH(T('Total capacity')))}}
	{{for et in eventtypes:}}{{=TH(MV(et))}}{{pass}}
	</tr>
	{{for entry in pertimeslot:}}
		<tr>
		{{=TD(entry[0])}}
		{{for value in entry[1:]:}}
			{{=TD(value, _class="bigentry")}}
			{{pass}}</tr>
		{{pass}}
	</table>
{{pass}}
