{{extend layout}}
{{if layout=='layout.html':}}
	{{=H1(title)}}
	{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
	{{=A(T('Back'),_href=URL('events',args=[convention.ec_short_name]),_class="button")}}
    {{if action=='new':}}
        {{=A(T('Use one of your previous events as template'),_href=URL('mydata','myevents',args=['select'],
        vars=dict(controller="convention",function="event",args=request.args)),_class="button")}}
        {{pass}}
	{{if hosts:}}
		{{who = T('Game master') if eventtype=='rpggame' else T('Registered by')}}
		<h3>{{='%s: %s' % (who, hoststring)}}
		{{if event and _check_multi_email_permission(people=hosts):}}
		 <a class="haspopup" href="{{=URL('attendee_email',args=[convention.ec_short_name], vars=dict(tos=[h['id'] for h in hosts], subject=event.ec_name, back='event', backargs=[convention.ec_short_name,event.id]))}}">
		   <img src="{{=URL('static','images/email.png')}}" alt={{=T('E-mail to %s') % hoststring}} name={{=T('E-mail to %s') % hoststring}} width="20px"/>
		   <span class="popup">{{=T('E-mail to %s') % hoststring}}</span></a>
		 {{pass}}
		</h3>
		{{if action=='new' and auth.has_permission('organize', db.ec_convention, convention.id):}}
			<p class='orgaonly'>({{=A('%s: %s' %(T('Orga only'),T('New event for someone else')), _href=URL('new_event_orga', args=[convention.ec_short_name], vars=dict(eventtype=eventtype)))}})</p>
			{{pass}}
		{{pass}}
	{{if attendees:}}
	    {{attendeestring = ', '.join([a['ec_nickname'] for a in attendees])}}
		<h3>{{=T('Event attendees')}}:
			{{if auth.has_permission('organize', db.ec_convention, convention.id):}}
				{{=XML(', '.join(['%s <span class="haspopup">%s<span class="popup">%s: %s</span></span>' % (a['ec_nickname'], A(IMG(_id="iconhere", _src=URL('static','images/remove.png'), _alt=T('Remove attendee')),
																			 _href=URL('de_attend_event',args=[convention.ec_short_name, event.id, a['id']])),
																			 T('Orga only'),T('De-register %s from event') % a['ec_nickname']) for a in attendees]))}}
			{{else:}}
				{{=attendeestring}}
				{{pass}}
			{{if event and _check_multi_email_permission(people=attendees):}}
				<a class="haspopup" href="{{=URL('attendee_email',args=[convention.ec_short_name], vars=dict(tos=[h['id'] for h in attendees], subject=event.ec_name, back='event', backargs=[convention.ec_short_name,event.id]))}}">
				<img src="{{=URL('static','images/email.png')}}" alt={{=T('E-mail to %s') % attendeestring}} name={{=T('E-mail to %s') % attendeestring}} width="20px"/>
				<span class="popup">{{=T('E-mail to %s') % attendeestring}}</span></a>
				{{pass}}
		 </h3>
		 {{pass}}
		 {{pass}}
	{{if action=='view' and auth.has_permission('organize', db.ec_convention, convention.id):}}
		<p class='orgaonly'>({{=A('%s: %s' %(T('Orga only'),T('Register someone else for event')), _href=URL('attend_event_orga', args=[convention.ec_short_name], vars=dict(eid=event.id)))}})</p>
		{{pass}}

{{=eventform}}

{{if layout=='layout.html':}}
	{{if action=='view' and auth.has_permission('edit', db.ec_event, event.id):}}
		{{=A(T('edit'),_href=URL('event',args=[convention.ec_short_name, event.id,'edit']),_class="linkbutton")}}
		{{pass}}
	{{if is_attendee:}}
		{{=A(T('decline'),_href=URL('de_attend_event',args=[convention.ec_short_name,event.id]),_class="linkbutton")}}
	{{elif action=='view' and event.ec_apply_online>0 and config.ec_event_attendance and config.ec_event_attendee_registration_period_start and config.ec_event_attendee_registration_period_start < request.now:}}
		{{=A(T('attend'),_href=URL('attend_event',args=[convention.ec_short_name,event.id]),_class="linkbutton")}}
		{{pass}}
	{{if action=='view':}}<!-- and auth.has_permission('configure', db.ec_convention, convention.id) -->
		{{=A(T('PDF'),_href=URL('event.pdf',args=[convention.ec_short_name, event.id]),_class="linkbutton")}}
		{{pass}}
{{pass}}

{{pass}}

