{{extend 'layout.html'}}
{{=H1(title)}}
{{=A(T('Back'),_href=URL('tables',args=[convention.ec_short_name]), _class='button')}}
<p/>
{{=table_table}}
{{if tableevents:}}<h2>{{=T('Events at this table')}}:</h2>{{pass}}
<ul>
{{for e in tableevents:}}{{eventstring = T('%s (%s), max. %s attendees') % (e.ec_name, _begin_end_datetime_string(e.ec_start, e.ec_end), e.ec_max_attendees)}}
	<li>{{=A(eventstring, _href=URL('event',args=[convention.ec_short_name,e.id]))}} ... {{=A(T('Remove from table'),_href=URL('events_at_table',args=[convention.ec_short_name, table.id], vars=dict(remove=e.id)), _class='linkbutton')}}</li>
	{{pass}}
</ul>
{{if validation:}}<div id='validation_warning'><h3>{{=T('Warning')}}</h3>
{{from string import rsplit}}
{{for result in validation.iterkeys():}}
	{{eventresult = rsplit(result,'_',1)}}
	{{event = db.ec_event(eventresult.pop())
	if event:}}
	  	{{=B(EX(eventresult.pop()))}}:
	{{else:}}{{=B(EX(result))}}:
		{{pass}}
	<ul>
	{{for e in validation[result]:}}{{eventstring = T('%s (%s), max. %s attendees') % (e.ec_name, _begin_end_datetime_string(e.ec_start, e.ec_end), e.ec_max_attendees)}}
		<li>{{=A(eventstring, _href=URL('event',args=[convention.ec_short_name,e.id]))}} ... {{=A(T('Remove from table'),_href=URL('events_at_table',args=[convention.ec_short_name, table.id], vars=dict(remove=e.id)), _class='linkbutton')}}</li>
		{{pass}}
		</ul>
	{{pass}}
</div>{{pass}}
<p/>
{{fields = ['ec_name',
'ec_location',
'ec_min_attendees',
'ec_max_attendees',
'ec_available_begin',
'ec_available_end',
'ec_setup',
'ec_comment',
'ec_picture']}}
<table>{{for field in fields:}}
{{=TR(TD(db.ec_table[field].label+':'),TD(table[field]))}}{{pass}}
</table>

{{=H3(T('Add event to table')+':')}}
{{if eventslist:}}{{=form}}{{else:}}<p>{{=T('There are no events without a table')}}.</p>{{pass}}


