{{extend 'layout.html'}}
{{=H1(title)}}
{{if warnings:}}
	<div id="message">
	{{=warnings}}
	</div>
	{{pass}}

{{if auth.has_permission('organize', db.ec_convention, convention.id):}}
			<p class='orgaonly'>({{=A('%s: %s' %(T('Orga only'),T('New event for someone else')), _href=URL('new_event_orga', args=[convention.ec_short_name], vars=dict(eventtype=eventtype)))}})</p>
		{{pass}}

{{if not config.ec_events:}}<div class="error_wrapper">{{=EX('no_events')}}</div>{{pass}}
{{if config.ec_events:}}<p>
	<span class="haspopup">{{=A(T('Personal programme'),_href=URL('personal_programme', args=[convention.ec_short_name]), _class="linkbutton")}}
	<span class="popup">{{=EX('personal_programme')}}</span></span>
	{{if people:}}
		<span class="haspopup">{{=A(T('Family programme'),_href=URL('personal_programme', args=[convention.ec_short_name], vars=dict(people=people)),
		_class="linkbutton")}}
		<span class="popup">{{=EX('family_programme')}}</span></span>
		{{pass}}
	{{if config.ec_event_show_statistics:}}
		<span class="haspopup">
			{{=A(T('Event statistics'),_href=URL('event_statistics', args=[convention.ec_short_name]), _class="linkbutton")}}
			<span class="popup">{{=EX('event_statistics')}}</span>
		</span>
		{{pass}}
</p>{{pass}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
{{
shownew = False
if config.ec_event_registration_period_stop and request.now > config.ec_event_registration_period_stop:
	shownew = False
elif config.ec_event_registration_period_start:
	shownew = (request.now > config.ec_event_registration_period_start)
pass
}}

{{if request.args(1) not in ['view', 'edit', 'new']:}}
{{if shownew or auth.has_permission('organize', db.ec_convention, convention.id):}}
<p><b>{{=T('Register new event')}}:
{{if not shownew and auth.has_permission('organize', db.ec_convention, convention.id):}}
			<span class='orgaonly'>({{=T('Orga only')}})</span>
{{pass}}
</b>
{{if eventtype=='all':
	for et in EVENT_TYPE_CHOICES:
		if et=='misc' or config['ec_event_type_%s' % et]:
			response.write(A(T(MV(et)), _href=URL('convention','event',args=[convention.ec_short_name,'new',et]), _class="linkbutton"))
			response.write(' ')
		pass
	pass
  else:
		response.write(A(T(MV(eventtype)), _href=URL('convention','event',args=[convention.ec_short_name,'new',eventtype]), _class="linkbutton"))
		response.write(' ')
  pass}}
</p>
{{pass}}
<p>
{{
	response.write(B(T('Filter')+':'))
	filters = request.vars.filters or []
	if isinstance(filters,str): filters = [filters,]
	for et in EVENT_FILTERS:
		cssclass = 'linkbutton' if et not in filters else 'lb_active'
		if et == 'misc' or (et in EVENT_TYPE_CHOICES and config['ec_event_type_%s' % et]) or et not in EVENT_TYPE_CHOICES:
			request.vars.filters = filters + [et,] if et not in filters else filters
			response.write(A(T(MV(et)), _href=URL('convention','events',args=[convention.ec_short_name], vars=request.vars), _class=cssclass))
			response.write(' ')
		pass
	pass
	request.vars.filters = []
	response.write(A(T('Remove filters'), _href=URL('convention','events',args=[convention.ec_short_name], vars=request.vars), _class="linkbutton"))
}}
</p>{{pass}}
<p><b>{{=T('Show entries')}}:</b>
{{pagination = request.vars.pagination or None
  for what in ['10','20','50','100','all']:
	cssclass = 'linkbutton' if what != pagination else 'lb_active'
	request.vars.pagination = what
	response.write(A(T(what), _href=URL('convention','events',args=request.args, vars=request.vars), _class=cssclass))
	pass}}
</p>



{{=form}}


<br />
<br />
<br />
<hr />
<h3>{{=T('Constraints')}}:</h3>
<table>
{{if config.ec_event_registration_period_start:}}<tr><td>{{=T('Registration of events starts at')}}: </td><td>{{=config.ec_event_registration_period_start.strftime(datetimeformatstring)}}</td></tr>{{pass}}
{{if config.ec_event_registration_period_stop:}}<tr><td>{{=T('Registration of events ends at')}}:</td><td>{{=config.ec_event_registration_period_stop.strftime(datetimeformatstring)}}</td></tr>{{pass}}
{{if config.ec_event_attendance:}}{{if config.ec_event_attendee_registration_period_start:}}<tr><td>{{=T('Registration for events starts at')}}:</td><td>{{=config.ec_event_attendee_registration_period_start.strftime(datetimeformatstring)}}</td></tr>{{pass}}{{pass}}
{{if config.ec_event_attendance:}}{{if config.ec_event_attendee_registration_period_stop:}}<tr><td>{{=T('Registration for events stops at')}}:</td><td>{{=config.ec_event_attendee_registration_period_stop.strftime(datetimeformatstring)}}</td></tr>{{pass}}{{pass}}
{{if config.ec_event_requires_registration:}}<tr><td>{{=T('You have to be attendee for %(ec_name)s to register events') % convention.as_dict()}}</td></tr>{{pass}}
{{if config.ec_event_attendance_requires_registration:}}<tr><td>{{=T('You have to be attendee for %(ec_name)s to register for events') % convention.as_dict() }}</td></tr>{{pass}}
{{if config.ec_event_registration_limit_eventorganizer==0:}}<tr><td>{{=T('As an event organizer, you may not register online for events')}}</td></tr>{{pass}}
{{if config.ec_event_registration_limit_eventorganizer > 0:}}<tr><td>{{=T('As an event organizer, you may only register online for %s event(s)') % config.ec_event_registration_limit_eventorganizer }}</td></tr>{{pass}}
{{if config.ec_event_registration_limit_normalattendee==0:}}<tr><td>{{=T('If you do not organize an event, you may not register online for events')}}</td></tr>{{pass}}
{{if config.ec_event_registration_limit_normalattendee > 0:}}<tr><td>{{=T('If you do not organize an event, you may only register online for %s event(s)') % config.ec_event_registration_limit_normalattendee }}</td></tr>{{pass}}
</table>

