{{extend 'layout.html'}}
{{=H1(title)}}
<p>{{quota=float(quota or 0) / 1048576
file_con_quota=float(settings.file_con_quota)
if quota > file_con_quota:}}{{=T('You have exceeded your quota of %s by %s') % ('%.1f MB' % file_con_quota, '%.1f MB' % (quota - file_con_quota))}}. {{=T('Please remove some files')}}.
{{else:}}{{=T('You have used %s of your quota of %s') % ('%.1f MB' % quota, '%.1f MB' % (file_con_quota))}}.{{pass}}</p>
{{if double:}}{{=T('Warning! You have multiple files with the same name. The URL can only show one of them')}}. {{=T('Affected files')}}:
<ul>
	{{for d in double:}}{{=LI(d)}}{{pass}}
</ul>
{{pass}}
{{=A(T('Upload image'),_href=URL('convention','upload',args=convention.ec_short_name,vars=dict(image=1)), _class="button")}}
{{=A(T('Upload file'),_href=URL('convention','upload',args=convention.ec_short_name), _class="button")}}
{{=form}}

{{if 'view' in request.args:}}
{{efile = db.ec_file(request.args[-1])
if not efile.ec_description: efile.ec_description=efile.ec_name}}
{{if efile.ec_is_image:}}
{{=T('You can use the following string to embed this image into a convention page')}}:
<pre>{{='[[%(ec_description)s [%(ec_name)s] %(ec_url)s center 800px]]' % efile}}</pre>
{{=T('Syntax')}}:
<pre>{{=T('[[<alternate text (if image cannot be displayed)> [<title>] <url> <alignment> <width>]]')}}</pre>
{{else:}}
{{=T('You can use the following string to embed this download into a convention page')}}:
<pre>{{='[[%(ec_name)s %(ec_url)s]]' % efile}}</pre>
{{=T('Syntax')}}:
<pre>{{=T('[[<title> <url>]]')}}</pre>
{{pass}}
{{pass}}
