{{extend 'layout.html'}}
{{=H1(title)}}

<!--{{=H3(T('Registration actions'))}}-->
<span class="haspopup">{{=A(T('paid all')+'*', _class=('linkbutton'),_href=URL('attendees',args=[convention.ec_short_name,attendance.ec_id_person,'hasallpaid']))}}
<span class="popup">{{=EX('action_paid_all')}}</span></span>
<span class="haspopup">{{=A(T('paid something')+' ...', _class=('linkbutton'),_href=URL('attendees',args=[convention.ec_short_name,attendance.ec_id_person,'attendee_paid_something']))}}
<span class="popup">{{=EX('paid_something')}}</span></span>
<span class="haspopup">{{=A(T('activate')+'*', _class=('linkbutton'),_href=URL('attendees',args=[convention.ec_short_name,attendance.ec_id_person,'activate']))}}
<span class="popup">{{=EX('activate')}}</span></span>
<p>*: {{=T('sends an automatic e-mail')}}</p>
{{if attendance.ec_registration_state=='waitlist':}}
<span class="haspopup">{{=A(T('move up and register')+'...',  _class=('linkbutton'),_href=URL('attendee_items',args=[convention.ec_short_name],vars=dict(attid=attendance.id,action='moveup_waitlist')))}}
<span class="popup">{{=EX('move_up')}}</span></span>
{{else:}}
<span class="haspopup">{{=A(T('move to waitlist')+'...',  _class=('linkbutton'),_href=URL('delete_attendance',args=[convention.ec_short_name,attendance.id],vars=dict(mode='waitlist')))}}
<span class="popup">{{=EX('waitlist_move_to_waitlist')}}</span></span>
{{pass}}
<span class="haspopup">{{=A(T('decline')+'...',  _class=('linkbutton'),_href=URL('delete_attendance',args=[convention.ec_short_name,attendance.id],vars=dict(mode='decline')))}}
<span class="popup">{{=EX('decline_registration')}}</span></span>
<br />
<span class="haspopup">{{=A(T('delete attendance')+'...',  _class=('linkbutton'),_href=URL('delete_attendance',args=[convention.ec_short_name,attendance.id],vars=dict(mode='delete')))}}
<span class="popup">{{=EX('delete_registration')}}</span></span>
<p>{{=A(T('back'), _class=('button'),_href=URL('attendees',args=[convention.ec_short_name]))}}</p>


{{=H3(T('General registration data'))}}
{{=attendanceform}}
<span class="haspopup">{{=A(T('Edit registration'), _class=('linkbutton'),_href=URL('manage_attendee',args=[convention.ec_short_name,attendance.id,'edit_attendance']))}}
<span class="popup">{{=EX('edit_registration')}}</span></span>



{{if extras:}}{{=H3(T('Additional fields for registration'))}}{{=extras}}
<span class="haspopup">{{=A(T('Edit additional fields for registration'), _class=('linkbutton'),_href=URL('manage_attendee',args=[convention.ec_short_name,attendance.id,'edit_extra']))}}
<span class="popup">{{=EX('configure_extradata')}}</span></span>
{{pass}}

{{if items:}}{{=H3(T('Bought items'))}}{{=items}}{{else:}}<br/>{{pass}}
<span class="haspopup">{{=A(T('Edit bought items'), _class=('linkbutton'),_href=URL('attendee_items',args=[convention.ec_short_name],vars=dict(attid=attendance.id),user_signature=True))}}
<span class="popup">{{=EX('configure_items')}}</span></span>


{{if personform:}}{{=H3(T('Personal data'))}}{{=personform}}
<p>{{=T('Only the attendee herself or an Easy-Con-Admin can change personal data')}}.
{{=A(T('Mail to attendee'), _class=('linkbutton'),_href=URL('emails',args=[convention.ec_short_name], vars=dict(tos=attendance.ec_id_person, subject=T('Please change personal data'))))}}
{{=A(T('Mail to Easy-Con-Admin'), _class=('linkbutton'),_href=URL('emails',args=[convention.ec_short_name], vars=dict(grouptos='easycon_admin', subject='%s: %s %s' % (T('Please change personal data'), T('id'), attendance.ec_id_person))))}}
</p>{{pass}}

{{=H3(T('Additional information'))}}
{{=additionaldata}}