{{extend 'layout.html'}}
{{=H1(title)}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
{{if services:}}
	{{=T('You help with the following services:')}}
	<ul>
	{{for service in services:}}
		<li><h3>{{=service.ec_name}}
		{{=_begin_end_datetime_string(service.ec_start_time, service.ec_end_time, brackets=True)}}
		</li></h3>
		{{=MARKMIN(service.ec_description)}}
		{{pass}}
	</ul>
<hr />
{{=CENTER(B(T('Thank you')+'!'))}}
<hr />
{{else:}}
{{=P(T('You do not help out yet')+' :-(')}}
{{pass}}
{{=H2(T('Services')+':')}}
{{=form}}
{{if auth.has_permission('organize', db.ec_convention, convention.id):}}<p class='orgaonly'>{{=T('Note: management of services is only for orga')}}. 
{{=A(T('more'), _href=URL('services',args=convention.ec_short_name))}}</p>{{pass}}
