{{extend layout}}
{{if layout=='layout.html':}}{{=H1(title)}}
<p>{{=A(T('List of participants'), _href=URL('convention','attendees',args=convention.ec_short_name), _class="linkbutton")}}</p>
{{if form:}}{{=form}}{{if back:}}{{=back}}{{pass}}{{else:}}{{=MV('explain_no_waitlist_items')}}.{{pass}}
<p>{{=T('There may be two types of waitlists for a convention')}}. {{=T('This is the waitlist for %s') % T('buyable items')}}. 
{{=T('In addition to that, there could be a waitlist for %s') % T('participants')}}.</p>
{{=A(T('Waitlist for %s') % T('participants'), _href=URL('convention','manage_waitlist',args=convention.ec_short_name), _class="linkbutton")}}
{{else:}}{{=H2(title)}}{{if form:}}{{=form}}{{else:}}{{=P(MV('explain_no_waitlist_items'))}}.{{pass}}{{pass}}

