{{extend 'layout.html'}}
{{=H1(title)}}
{{if config.ec_registration_invite_capacity!=0:}}
{{if invite:}}<h2>{{='%s #%s' % (T('Invitation'), invite.id)}}</h2>
<p>{{=T('You have an invitation for %s') % convention.ec_name}}.<p/>
<p>{{if invite.ec_status in ['invited','accepted but not registered']:}}{{=T('Do you want to accept that invitation?') if invite.ec_status=='invited' else T('Do you want to register now?')}}</p>
{{if config.ec_registration_other:}}<p>{{=T('You would register %(ec_firstname)s %(ec_lastname)s') % person.as_dict()}}. {{=T('You can change this here')}}: {{=A(T('Change person'), _href=URL('convention','my_personae', args=convention.ec_short_name))}}</p>{{pass}}
{{=A(T('Register'),_href=URL('register', args=[convention.ec_short_name,person.id], vars=dict(iid=invite.id)),  _class="linkbutton")}}
{{=A(T('No thanks'), _href=URL('decline_invitation', args=[convention.ec_short_name], vars=dict(iid=invite.id)),  _class="linkbutton")}}{{pass}}
</p>
<h3>{{=T('Details')}}</h3>
<ul>
	{{=LI('%s: %s' % (T('Id'), invite.id))}}
	{{=LI('%s: %s' % (T('Date of the invitation'), invite.ec_invite_date.strftime(datetimeformatstring)))}}
	{{=LI('%s: %s' % (T('State of the invitation'), MV(invite.ec_status)))}}
	{{=LI('%s: %s' % (T('Expiry date'), invite.ec_expiry_date.strftime(datetimeformatstring) if invite.ec_expiry_date else T('not specified')))}}
	<li>{{=T('Text')}}: {{=MARKMIN(invite.ec_text)}}</li>
</ul>{{pass}}
<p>{{if not coninvitations:}}{{=T('There is no convention invitation for you')}}.</p>{{pass}}
{{if config.ec_registration_other and len(coninvitations)>1:}}<h3>{{=T('All convention invitations')}}</h3>
<table id='ec_datatable'>
  {{=TR(TH(T('Id')),TH(T('Date')),TH(T('State')),TH(T('Expiry date')),TH(T('Action'),TH(T(''))))}}
  {{for invite in coninvitations:}}<tr>{{=CAT(TD(invite.id),TD(invite.ec_invite_date.strftime(datetimeformatstring)),TD(MV(invite.ec_status)))}}
  {{=TD(invite.ec_expiry_date.strftime(datetimeformatstring) if invite.ec_expiry_date else T('not specified'))}}
  {{=TD(A(T('Show this invitation'),_href=URL('convention','my_invitations',args=[convention.ec_short_name],vars=dict(iid=invite.id))))}}
  {{if coninvites_for[invite.id]:}}{{=TD(A(coninvites_for[invite.id].ec_nickname, _href=URL('registration',args=[convention.ec_short_name, coninvites_for[invite.id].id])))}}{{pass}}
  </tr>{{pass}}
</table>
{{=P(A(T('Decline all open invitations'), _href=URL('decline_all_invitations', args=[convention.ec_short_name], vars=dict(what='convention')),  _class="linkbutton"))}}{{pass}}
{{else:}}{{=P(T('This is no convention by invitation')+'.')}}{{pass}}
