{{extend 'layout.html'}}
{{=H1(title)}}
{{if eventtypeform:}}
	{{=eventtypeform}}
{{else:}}
	<h2>{{=T('Event type')}}: {{=MV(request.vars.eventtype)}}</h2>
	{{if attendeeform:}}
		{{=attendeeform}}
		<p>{{=T('Or enter new person')}}:</p>
	{{pass}}
	{{=newpersonform}}
{{pass}}
