{{extend 'layout.html'}}
{{=H3(T('Create new rule for')+' '+T('buyable items')+':')}}
<ul>
{{for i in items:}}
	{{=LI(i.ec_name)}}
{{pass}}
</ul>
{{=form}}
<ul>
{{for ruletype in RULE_TYPE_CHOICES:}}
<li><p>{{=B(ruletype)}}: {{=RULE_EXPLANATIONS[ruletype]}}</p></li>
{{pass}}
</ul>
