{{extend 'layout.html'}}
{{=H1(T('Organize')+'!')}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
{{list = ['orgatasks', 'pages','files','emails','configure_emails','con_invitations', 'services', 'preview_registration',
'events', 'timeslots', 'attendees', 'data',  'manage_waitlist', 'bedrooms', 'tables']}}
{{=T('As organizer for "%s" you can manage the following things') % convention.ec_name}}:
<ul>{{for action in list:}}
{{explain=EX(action)
if explain == T('There is no explanation for %s yet') % action:
	explain = ''
	pass
configurl=''
active=True
if action=='con_invitations' and config.ec_registration_invite_capacity==0:
	explain_change = EX('no_%s' % action)
	configurl = CAT('. ',A(T('Edit'), _href=URL('convention','configure', args=[convention.ec_short_name,'registration'])))
	active = False
	pass
if action=='events' and not config.ec_events:
	explain_change = EX('no_%s' % action)
	configurl = CAT('. ',A(T('Edit'), _href=URL('convention','configure', args=[convention.ec_short_name,'events'])))
	active = False
	pass
if action=='timeslots' and not config.ec_event_time_slots:
	explain_change = EX('no_%s' % action)
	configurl = CAT('. ',A(T('Edit'), _href=URL('convention','configure', args=[convention.ec_short_name,'events'])))
	active = False
	pass
if action=='attendees' and not config.ec_convention_requires_registration:
	explain_change = EX('no_%s' % action)
	configurl = CAT('. ',A(T('Edit'), _href=URL('convention','configure', args=[convention.ec_short_name,'registration'])))
	active = False
	pass
if action=='services' and not config.ec_convention_requires_services:
	explain_change = EX('no_%s' % action)
	configurl = CAT('. ',A(T('Edit'), _href=URL('convention','configure', args=[convention.ec_short_name,'basic_config'])))
	active = False
	pass
if action=='preview_registration' and not config.ec_convention_requires_registration:
	explain_change = EX('no_%s' % action)
	configurl = CAT('. ',A(T('Edit'), _href=URL('convention','configure', args=[convention.ec_short_name,'registration'])))
	active = False
	pass
if action=='tables' and not config.ec_event_tables:
	explain_change = EX('no_%s' % action)
	configurl = CAT('. ',A(T('Edit'), _href=URL('convention','configure', args=[convention.ec_short_name,'events'])))
	active = False
	pass
if action=='manage_waitlist' and not config.ec_registration_waitlist:
	explain_change = EX('no_%s' % action)
	configurl = CAT('. ',A(T('Edit'), _href=URL('convention','configure', args=[convention.ec_short_name,'registration'])))
	active = False
	pass}}
{{if active:}}<li class="haspopup">{{=A(MV(action), _href=URL('convention',action,args=convention.ec_short_name), _class="linkbutton")}} {{if explain:}}<span class="popup">{{=explain}}</span>{{pass}}</li>
{{else:}}<li class="haspopup">{{=A(MV(action), _href=URL('convention',action,args=convention.ec_short_name), _class="inactive")}} 
{{if explain:}}<span class="popup">{{=explain}}</span>{{pass}}{{=explain_change}}{{=configurl}}</li>{{pass}}
{{pass}}<!-- end for-->
</ul>
{{if config.ec_registration_orga:}}
<p>{{=T('The registration is open for members of the orga group')}}:
{{=A(T('Registration'),_href=URL('convention','register',args=convention.ec_short_name), _class="linkbutton")}}
</p>
{{pass}}

