{{extend 'layout.html'}}
<h1>{{=title}}</h1>
{{if message:}}
{{=B(T('Message preview')+':')}}
<pre>
{{=message}}
</pre>
{{pass}}
{{if result:}}
{{=B(T('Result')+':')}}
<ul>
{{for r in result:}}{{=LI(r)}}{{pass}}
</ul>
{{pass}}
{{=emailform}}
