{{extend 'layout.html'}}
{{=H1(title)}}
<p>{{=EX('orga_standard_tasks')}}. {{=T('Sorry, this information is only available in German')}}</p>
{{=form.custom.begin}}<table>
{{for field in form.fields[1:]:}}
	{{=TR(TD(form.custom.widget[field]), TD(form.custom.label[field]+':'), TD(form.custom.comment[field]))}}
	{{pass}}</table>{{=form.custom.submit}}
{{=form.custom.end}}
<p><span class="haspopup">{{=A(T('Back'), _href=URL('orgatasks',args=[convention.ec_short_name]), _class="linkbutton")}}
   <span class="popup">{{=EX('orgatasks')}}</span></span></p>
