{{extend layout}}
{{=H1(title)}}
{{if not ('view' in request.args or 'edit' in request.args):}}
	{{if layout=='layout.html':}}
		<p>{{=EX('orgatasks')}}.
			<span class="haspopup">{{=A(MV('orga_standard_tasks'), _href=URL('orga_standard_tasks',args=[convention.ec_short_name]), _class="linkbutton")}}
			<span class="popup">{{=EX('orga_standard_tasks')}}</span></span>
		</p>
		{{pass}}
	<hr />
	{{if 'only_me' not in request.vars or request.vars.only_me=='0':}}
		<p>
		{{if layout=='layout.html':}}
			{{if 'only_open' in request.vars and request.vars.only_open=='1':}}
				{{=T('There are %s open tasks and %s started tasks') %
				(len(tasks.find(lambda row: row.ec_status=='2')),
				 len(tasks.find(lambda row: row.ec_status=='1')))}}.
				{{=A(T('Show all'), _href=URL('orgatasks',args=[convention.ec_short_name]), _class="linkbutton")}}
			{{else:}}
				{{=T('There are %s open tasks, %s started tasks and %s completed tasks') %
				(len(tasks.find(lambda row: row.ec_status=='2')),
				 len(tasks.find(lambda row: row.ec_status=='1')),
				 len(tasks.find(lambda row: row.ec_status=='3')))}}.
				{{=A(T('Show only open tasks'), _href=URL('orgatasks',args=[convention.ec_short_name],vars=dict(only_open=1,only_me=request.vars.only_me if 'only_me' in request.vars else 0)), _class="linkbutton")}}
				{{pass}}
			{{pass}}
		<p/>
		<p>{{=T('%s tasks need someone who promises to do them') % len(tasks.find(lambda row: row.ec_assigned_to==None))}}.</p>
		{{pass}}
    {{if layout=='layout.html':}}
    	<p>{{usertasks = len(tasks.find(lambda row: row.ec_assigned_to==auth.user.id))}}
		{{if usertasks > 0:}}{{=T('Thank you for taking over %s tasks') % usertasks}}!
		{{=T('Your completed tasks: %s') % len(tasks.find(lambda row: row.ec_assigned_to==auth.user.id and row.ec_status=='3'))}}
		{{else:}}{{=T('Maybe you can take over some of them?')}}{{pass}}
		{{if 'only_me' in request.vars and request.vars.only_me=='1':}}
			{{=A(T('Show all'), _href=URL('orgatasks',args=[convention.ec_short_name]), _class="linkbutton")}}
		{{else:}}
			{{=A(T('Show only my tasks'), _href=URL('orgatasks',args=[convention.ec_short_name],vars=dict(only_me=1, only_open=request.vars.only_open if 'only_open' in request.vars else 0)), _class="linkbutton")}}
			{{pass}}
		{{pass}}

		</p>
    <hr />
	{{if layout=='layout.html':}}
		{{if request.args(1) not in ['view', 'edit', 'new']:}}
			<b>{{=T('Configure automatic reminders')}}:</b> <i>{{=T('trial period')}}</i>
			{{=configform.custom.begin}}<table>
			{{for field in ['ec_orgatask_reminder', 'ec_orgatask_reminder_start', 'ec_orgatask_reminder_days']:}}
				{{=TR(TD(configform.custom.label[field]),TD(configform.custom.widget[field]))}}
				{{pass}}</table>{{=configform.custom.submit}}
			{{=configform.custom.end}}
			<hr />
			<p><span class="haspopup">{{=A(T('Send reminders now'), _href=URL('orgatasks',args=[convention.ec_short_name,0],vars=dict(action='remind_orgatask')), _class="linkbutton")}}
			   <span class="popup">{{=EX('remind_orgatask')}}</span></span>
			</p>
		    {{pass}}
		{{pass}}
	{{pass}}
<p />
{{=result}}

