{{extend 'layout.html'}}
{{=H1(title)}}
{{dates = (config.ec_registration_data_attendance_arrival=='required' and config.ec_registration_data_attendance_departure=='required')}}
{{=A(T('Back'),_href=URL('bedrooms',args=[convention.ec_short_name]), _class='button')}}
<ul>
{{for p in roompeople:}}
	{{peoplestring = '%(ec_firstname)s %(ec_lastname)s' % p.ec_person.as_dict()}}
	{{if p.ec_attendance.ec_registration_state in ['waitlist','deregistered']:}}
		{{peoplestring += ' (%s)' % T(p.ec_attendance.ec_registration_state)}}
	{{elif dates:}}
		{{peoplestring += ' (%s - %s)' % (p.ec_attendance.ec_arrival.strftime(dateformatstring), p.ec_attendance.ec_departure.strftime(dateformatstring))}}
		{{pass}}
	<li>{{=A(peoplestring, _href=URL('manage_attendee',args=[convention.ec_short_name,p.ec_attendance.id]))}} ... {{=A(T('Remove from room'),_href=URL('people_in_room',args=[convention.ec_short_name, room.id], vars=dict(remove=p.ec_person.id)), _class='linkbutton')}}</li>
	{{pass}}
</ul>
{{fields = ['ec_name','ec_category','ec_capacity','v_dates','v_free_capacity','ec_comment'] if dates else ['ec_name','ec_category','ec_capacity','v_free_capacity','ec_comment']}}
<table>{{for field in fields:}}
{{=TR(TD(db.ec_bedroom[field].label+':'),TD(room[field]))}}{{pass}}
</table>

{{=H3(T('Add attendee to room')+':')}}
{{if peoplelist:}}{{=form}}{{else:}}<p>{{=T('There are no attendees without a room')}}.</p>{{pass}}


