{{extend layout}}
{{if layout=='layout.html':}}
	{{=H1(title)}}
	{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
	{{if message:}}<div id="message">{{=message}}</div>{{pass}}
{{else:}}{{=H2(title)}}
	{{pass}}
{{if all_services:}}
	{{=T('You help with the following services:')}}
	<ul>
	{{for services in all_services:}}
		{{for service in services:}}
			<li><h3>{{=service.ec_service.ec_name}}
			{{=_begin_end_datetime_string(service.ec_service.ec_start_time, service.ec_service.ec_end_time, brackets=True)}}
			{{if request.vars.people:}} - {{=service.ec_person.ec_nickname}} {{pass}}
			</li></h3>
			{{=MARKMIN(service.ec_service.ec_description)}}
			{{pass}}
		{{pass}}
	</ul>
	{{pass}}
<h2>{{=T('Schedule')}}</h2>
<p>
{{	if layout=='layout.html':
		del request.vars.display
		response.write(B(T('Filter')+':'))
		filters = request.vars.filters or []
		if isinstance(filters,str): filters = [filters,]
		for et in PROGRAM_FILTER_CHOICE:
			if et=='services' and not config.ec_convention_requires_services: continue
			cssclass = 'linkbutton' if et not in filters else 'lb_active'
			request.vars.filters = filters + [et,] if et not in filters else filters
			response.write(A(T(MV(et)), _href=URL('convention','personal_programme',args=[convention.ec_short_name], vars=request.vars), _class=cssclass))
			response.write(' ')
		pass
		request.vars.filters = []
		response.write(A(T('Remove filters'), _href=URL('convention','personal_programme',args=[convention.ec_short_name], vars=request.vars), _class="linkbutton"))
	elif request.vars.filters:
		filters = request.vars.filters
		response.write(T('Contains')+': ')
		if isinstance(filters,str): filters = [filters,]
		filterstring = ', '.join([str(MV(f)) for f in filters])
		response.write(filterstring)
	pass
}}


</p>
<table id="ec_datatable">
<colgroup><col data-column="1" id="ec_when" /><col data-column="2" id="ec_what" /><col data-column="3" id="ec_who" /><col data-column="4" id="ec_where" /></colgroup>
{{=TR(TH(T('When')+'?'),TH(T('What')+'?'), TH(T('Who')+'?'), TH(T('Where')+'?'))}}
{{for entry in entrytable:}}
	{{=TR(TD(entry[1]['when']), TD(entry[1]['what']), TD(entry[1]['who']), TD(entry[1]['where']))}}
	{{pass}}
</table>

<br / >
{{	if layout=='layout.html' and request.vars.people:
		requestvars = request.vars
		response.write(B(T('People')+':'))
		people = request.vars.people or []
		if not isinstance(people,list): people = [people,]
		for p in peoplelist:
			cssclass = 'linkbutton' if str(p.id) not in people else 'lb_active'
			if str(p.id) in people:
				cssclass = 'lb_active'
				requestvars.people = [pid for pid in people if pid != str(p.id)]
				if not requestvars.people: requestvars.people  = [me]
			else:
				requestvars.people = people + [p.id,]
			pass
			response.write(A(T(p.ec_nickname), _href=URL('convention','personal_programme',args=[convention.ec_short_name], vars=requestvars), _class=cssclass))
			response.write(' ')
		pass
		request.vars.people = []
		response.write(A(T('Remove people'), _href=URL('convention','personal_programme',args=[convention.ec_short_name], vars=requestvars), _class="linkbutton"))
	pass
}}


{{if layout=='layout.html':}}
	<p><span class='haspopup'>{{=A(T('Add personal event'), _href=URL('manage_personal_events',args=[convention.ec_short_name,'new','ec_personal_event'], user_signature=True), _class='linkbutton')}}
	{{=A(T('Manage personal events'), _href=URL('manage_personal_events',args=[convention.ec_short_name]), _class='linkbutton')}}
		<span class='popup'>{{=EX('personal_event')}}</span></span>
		<span class="haspopup">{{=A(T('Personal programme'),_href=URL('personal_programme', args=[convention.ec_short_name]), _class="linkbutton")}}
			<span class="popup">{{=EX('personal_programme')}}</span></span>
		{{if peoplelist:}}
			<span class="haspopup">{{=A(T('Family programme'),_href=URL('personal_programme', args=[convention.ec_short_name], vars=dict(people=[p.id for p in peoplelist])),	_class="linkbutton")}}
				<span class="popup">{{=EX('family_programme')}}</span></span>
		{{pass}}
	</p>
{{pass}}



