{{extend 'layout.html'}}
{{=H1(title)}}
{{if config.ec_registration_other:}}{{=A(' (%s)'%T('Register another person'), _href=URL('convention','my_personae',args=[convention.ec_short_name]))}}{{pass}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
</p>
{{=regform.custom.begin}}
<table id="ec_registration">
{{for field in regform.table.fields:}}
	{{if field not in ['id','waitlist_only']:}}
		{{if field.startswith('item_'):}}
			{{=TR(TD(''),TD(CAT(regform.custom.widget[field],regform.custom.label[field]),_width="50%"))}}
		{{elif field.startswith('rule_'):}}
			{{=TR(TD(regform.custom.label[field]),TD(regform.custom.widget[field]))}}
		{{elif field=='buyitems_heading':}}
			{{if field in regform.errors:}}{{=TR(TD(regform.custom.widget[field], _colspan="2"))}}{{pass}}
		{{elif field.find('heading_item_')==0:}}
			{{=TR(TD(H3(regform.custom.label[field])))}}
		{{else:}}
			{{=TR(TD(regform.custom.label[field]),TD(regform.custom.widget[field]))}}
		{{pass}}
	{{pass}}
{{pass}}
{{if 'waitlist_only' in regform.fields:}}
{{=TR(TD(regform.custom.widget['waitlist_only']),TD(regform.custom.label['waitlist_only']),TD(regform.custom.comment['waitlist_only']))}}
{{pass}}
</table><br />
{{=regform.custom.submit}}
{{=regform.custom.end}}
{{pass}}
</div>
<p/>
<hr/>
{{=T('For')}} {{=T('Admin group')}}:
<p>{{=A(T('Configure') + ': ' + T('Buyable Items'),_href=URL('items',args=[convention.ec_short_name]),_class="linkbutton")}}
{{=A(T('Configure') + ': ' + T('Registration rules'),_href=URL('rules',args=[convention.ec_short_name]),_class="linkbutton")}}</p>


