{{extend 'layout.html'}}
<h1>{{=T('Privacy notice')}}</h1>

{{=MARKMIN(privacy_text)}}

<!-- todo: eigene Con-Angaben einbinden
<h1>{{=T("Convention specific privacy notes")}}</h1>
<h2> Verantwortlich</h2>
Für diese Veranstaltung ist verantwortlich: {{=convention.ec_organizer}}
<p/>
-->

