{{extend 'layout.html'}}
{{=H1(title)}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
<table>
{{for entry in free_items:}}{{=TR(TD(B('%s:'%entry[0]), TD(entry[1])))}}{{pass}}
</table>
{{if invite:}}<h2>{{='%s #%s' % (T('Invitation'), invite.id)}}</h2>
	<p>{{=T('You have an invitation for %s') % convention.ec_name}}.<p/>
	<p>{{if invite.ec_status in ['invited','accepted but not registered']:}}{{=T('Do you want to accept that invitation?') if invite.ec_status=='invited' else T('Do you want to register now?')}}</p>
	{{=A(T('Register'),_href=URL('register_one', args=[convention.ec_short_name], vars=dict(iid=invite.id)),  _class="linkbutton")}}
	{{=A(T('No thanks'), _href=URL('decline_invitation', args=[convention.ec_short_name], vars=dict(iid=invite.id)),  _class="linkbutton")}}{{pass}}
	</p>
{{else:}}
	{{if regform:}}{{=H2(T('Registration for %(ec_firstname)s %(ec_lastname)s') % person.as_dict())}}
        {{if use_invitation:}}{{=P(I(T('Invitation #%s will be used for registration') % use_invitation.id))}}{{pass}}
        {{=regform.custom.begin}}
        <table id="ec_registration">
        {{for field in regform.table.fields:}}
            {{if field not in ['id','waitlist_only']:}}
                {{if field.startswith('item_'):}}
                    {{=TR(TD(''),TD(CAT(regform.custom.widget[field],regform.custom.label[field]),_width="50%"))}}
                {{elif field.startswith('rule_'):}}
                    {{=TR(TD(regform.custom.label[field]),TD(regform.custom.widget[field]))}}
                {{elif field=='buyitems_heading':}}
                    {{if field in regform.errors:}}{{=TR(TD(regform.custom.widget[field], _colspan="2"))}}{{pass}}
                {{elif field.find('heading_item_')==0:}}
                    {{=TR(TD(H3(regform.custom.label[field])))}}
                {{else:}}
                    {{=TR(TD(regform.custom.label[field]),TD(regform.custom.widget[field]))}}
                {{pass}}
            {{pass}}
        {{pass}}
        </table><br />
        {{=regform.custom.submit}}
        {{=regform.custom.end}}
	{{else:}}
        {{if canregister not in ['register_ok','invite_ok']:}}
            {{=MV(canregister)}}
            {{pass}}
	{{pass}}
{{pass}}

