{{extend layout}}
{{if layout=='layout.html':}}
{{=H1(title)}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
{{else:}}{{=H2(title)}}{{pass}}
<p>{{=T('On this page, you get an overview over registered people that are managed by you and their bookings')}}.</p>
{{=form}}
{{if layout=='layout.html':}}<hr />{{else:}}<br />{{pass}}
<table id="normaltext">
<colgroup><col data-column="1" id="first" /><col data-column="2" id="second" /><col data-column="2" id="third" /></colgroup>
{{=TR(TD(B(T('Sum')+':')),TD(),TD(B('%.2f %s' % (total_topay, config.ec_registration_currency_symbol))))}}{{pass}}
{{=TR(TD(B(db.ec_attendance.ec_payment.label+':')),TD(),TD(B('%.2f %s' % (total_has_paid, config.ec_registration_currency_symbol))))}}
{{=TR(TD(B(T('Still open')+':')),TD(),TD(B('%.2f %s' % (total_topay-total_has_paid, config.ec_registration_currency_symbol))))}}
</table>

