	{{extend layout}}
{{person=regperson}}
{{if layout=='layout.html':}}
{{=H1(title)}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
<p>{{=A(T('To change the registration, contact the organization'), _href=URL('contact', args=[convention.ec_short_name]))}}.</p>
{{else:}}{{=H2(title)}}{{pass}}
{{if config.ec_registration_other:}}{{=A(' (%s)'%T('Manage persons'), _href=URL('convention','my_personae',args=[convention.ec_short_name]))}}{{pass}}
{{if config.ec_convention_requires_services and not services:}}<H2>{{=A(T('Services'),_href=URL('manage_services',args=[convention.ec_short_name]))}}: {{=T('You do not help out yet')+' :-('}}</H2>{{pass}}
{{=form.custom.begin}}<table id="normaltext">
<colgroup><col data-column="1" id="first" /><col data-column="2" id="second" /></colgroup>
<tr><td >{{=H3(T('Attendance')+':')}}</td></tr>
<tr><td>{{=db.ec_attendance.ec_registration_state.label}}:</td><td>{{=MV(attendance.ec_registration_state)}}
<!--{{if attendance.ec_registration_state=='waitlist':}}{{=' (%s: %s)' % (T('Waitlist position'), attendance.v_waitlist_position)}}{{pass}}-->
</td></tr>
<tr><td>{{=db.ec_attendance.ec_registertime.label}}:</td><td>{{=attendance.ec_registertime.strftime(datetimeformatstring)}}</td></tr>
{{if attendance.ec_arrival:}}<tr><td>{{=db.ec_attendance.ec_arrival.label}}:</td><td>{{=attendance.ec_arrival.strftime(dateformatstring)}}</td></tr>{{pass}}
{{if attendance.ec_departure:}}<tr><td>{{=db.ec_attendance.ec_departure.label}}:</td><td>{{=attendance.ec_departure.strftime(dateformatstring)}}</td></tr>{{pass}}
{{if config.ec_registration_perday:}}{{days=attendance.ec_departure-attendance.ec_arrival}}
	{{=TR(TD(T('Days at convention')+':'),TD(days.days-1+config.ec_registration_perday_arrival_factor+config.ec_registration_perday_departure_factor),TD('%s %s %.2f, %s %s %.2f' % (T('Day of arrival'),T('counts'),config.ec_registration_perday_arrival_factor,T('Day of departure'),T('counts'),config.ec_registration_perday_departure_factor)))}}
{{pass}}
<tr><td>{{=db.ec_attendance.ec_attendance_comment.label}}:</td><td><pre>{{=attendance.ec_attendance_comment}}</pre></td></tr>

{{for ex in extraatts:}}{{=TR(TD(ex.ec_extrafield.ec_name+':'),TD((ex.ec_has_value.ec_stringvalue or MV(ex.ec_has_value.ec_booleanvalue) or ex.ec_has_value.ec_numericvalue or ex.ec_has_value.ec_doublevalue or ex.ec_has_value.ec_integervalue or (ex.ec_has_value.ec_datevalue.strftime(dateformatstring) if ex.ec_has_value.ec_datevalue else '') or (ex.ec_has_value.ec_datetimevalue.strftime(datetimeformatstring) if ex.ec_has_value.ec_datetimevalue else ''))))}}{{pass}}

{{if items:}}<tr><td>{{if attendance.ec_registration_state=='waitlist':}}{{=H3(T('Waitlist items')+':')}}{{else:}}{{=H3(T('Bought items')+':')}}{{pass}}</td></tr>
{{for i in items:}}{{if i.ec_buys_item.ec_buy_state!='waitlist':}}{{pd=T('per day') if i.ec_buyitem.ec_is_perday else ''}}{{=TR(TD('%s (%s):'%(i.ec_buyitem.ec_name,MV(i.ec_buys_item.ec_buy_state))),TD('%.2f %s %s' % (i.ec_buyitem.ec_price, config.ec_registration_currency_symbol, ('(%s)' % pd) if pd else '')))}}{{pass}}{{pass}}
<tr></tr>
{{if attendance.ec_registration_state!='waitlist':}}
{{=TR(TD(B(T('Sum')+':')),TD(B('%.2f %s' % (itemsum, config.ec_registration_currency_symbol))))}}
{{=TR(TD(B(db.ec_attendance.ec_payment.label+':')),TD(B('%.2f %s' % (attendance.ec_payment, config.ec_registration_currency_symbol))))}}{{pass}}{{pass}}
{{for i in items:}}{{if i.ec_buys_item.ec_buy_state=='waitlist':}}{{pd=T('per day') if i.ec_buyitem.ec_is_perday else ''}}{{=TR(TD('%s (%s):'%(i.ec_buyitem.ec_name,MV(i.ec_buys_item.ec_buy_state))),TD('%.2f %s' % (i.ec_buyitem.ec_price, config.ec_registration_currency_symbol)),TD(pd))}}{{pass}}{{pass}}
<tr><td>{{=H3(T('Personal data')+':')}}</td></tr>
{{for field in form.table.fields:}}{{if field in db.ec_person.fields and field!='id' and form.custom.widget[field]:}}
{{=TR(TD(form.custom.label[field]+':'),TD(form.custom.widget[field]))}}
{{pass}}{{pass}}{{pass}}
<tr/>
{{if layout=='layout.html':}}<tr><td>{{=A(T('edit personal data'),_href=URL('person_data',args=[convention.ec_short_name,person.id,'edit'],vars=dict(back='registration')),_class="linkbutton")}}</td></tr>{{pass}}
</table>
{{=form.custom.end}}

{{if account and attendance.ec_registration_state!='waitlist':}}
{{=H3(T('Account information')+':')}}
<p style="white-space: pre">{{=account}}</p>
{{pass}}

{{if config.ec_convention_show_bedrooms:}}
{{=H3(T('Room information')+':')}}
{{if room:}}{{=T('Your room is %s') % room.ec_name}}.<br/>{{=T('People in room')}}: {{=room.v_people}} {{else:}}{{=P(T('There is no room assignment for you yet')+'.')}}{{pass}}
{{pass}}
