{{extend 'layout.html'}}
{{=H1(title)}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
<table>
{{for entry in free_items:}}{{=TR(TD(B('%s:'%entry[0]), TD(entry[1])))}}{{pass}}
</table>
{{if use_invitation:}}
	<p>{{=T('Invitation #%s will be used for registration') % use_invitation.id}}
	{{if config.ec_registration_other:}}{{=A('(%s)' % T('change'), _href=URL('register', args=[convention.ec_short_name]))}}{{pass}}.</p>
{{pass}}
{{if invitations:}}
	{{=H2(T('Your convention invitations'))}}
        {{open_invites=False}}	
		<table id='ec_datatable'>
		  {{=TR(TH(T('Id')),TH(T('Date')),TH(T('State')),TH(T('Expiry date')),TH(T('Action')), TH(T('')))}}
		  {{for invite in invitations:}}<tr>{{=CAT(TD(invite.id),TD(invite.ec_invite_date.strftime(datetimeformatstring)),TD(MV(invite.ec_status)))}}
			  {{=TD(invite.ec_expiry_date.strftime(datetimeformatstring) if invite.ec_expiry_date else T('not specified'))}}
			  {{if invite.ec_status in ['invited','accepted but not registered']:}}{{open_invites=True}}
				{{=TD(A(T('Use this invitation'),_href=URL('convention','register',args=[convention.ec_short_name],vars=dict(iid=invite.id))))}}
				{{=TD(A(T('Decline this invitation'),_href=URL('decline_invitation', args=[convention.ec_short_name], vars=dict(iid=invite.id))))}}
			  {{elif invite.ec_status=='accepted':}}{{=TD(A(T('View registration of %s') % coninvites_for[invite.id].ec_nickname, _href=URL('registration',args=[convention.ec_short_name, coninvites_for[invite.id].id])))}}
			  {{else:}}{{=TD()}}{{pass}}
		  </tr>{{pass}}
		</table>
	{{if open_invites:}}{{=P(A(T('Decline all open invitations'), _href=URL('decline_all_invitations', args=[convention.ec_short_name], vars=dict(what='convention')),  _class="linkbutton"))}}{{pass}}
{{pass}}
{{if people:}}{{=H2(T('Persons'))}}<div>
	{{=P(T('You can manage registrations of the following persons')+':')}}
	{{
	table=[[T('Registered person'), db.ec_attendance.ec_registration_state.label, T('Registration')],]
	for a in people:
		row=[]
		row.append('%s %s' % (a.ec_person.ec_firstname, a.ec_person.ec_lastname))
		if a.ec_attendance.ec_registration_state:
			row.append(T(a.ec_attendance.ec_registration_state))
		else:
			row.append(T('not registered'))
		pass
		if not a.ec_attendance.ec_registration_state or a.ec_attendance.ec_registration_state=='declined':
			if use_invitation:
				row.append(A(T('register'),_href=URL('convention','register',args=[convention.ec_short_name], vars=dict(pid=a.ec_person.id, iid=use_invitation.id))))
			elif canregister == 'register_ok':
				row.append(A(T('register'),_href=URL('convention','register',args=[convention.ec_short_name], vars=dict(pid=a.ec_person.id))))
			elif canregister == 'waitlist_only':
				row.append(A(T('Register for waitlist only'),_href=URL('convention','register',args=[convention.ec_short_name], vars=dict(pid=a.ec_person.id))))				
			else:
				row.append(T('Not possible'))
			pass
		else:
			row.append(A(T('view'),_href=URL('convention','registration',args=[convention.ec_short_name, a.ec_person.id])))
		pass
		table.append(row)
	pass
	}}
	{{=TABLE(TR(*[TH(value) for value in table[0]]),*[TR(*[TD(value) for value in row]) for row in table[1:]],_id='ec_datatable')}}
	{{if use_invitation:}}
		{{=P(A(T('Register new person'),_href=URL('convention','register',args=[convention.ec_short_name], vars=dict(pid="-1", iid=use_invitation.id)),_class="linkbutton"))}}
	{{elif canregister == 'register_ok':}}
		<p>{{=A(T('Register new person'),_href=URL('convention','register',args=[convention.ec_short_name], vars=dict(pid="-1")),_class="linkbutton")}}
		{{=A(T('Registration summary'),_href=URL('convention','registration_summary',args=[convention.ec_short_name]), _class="linkbutton")}}
		{{=A(T('Manage persons'),_href=URL('convention','my_personae',args=[convention.ec_short_name]), _class="linkbutton")}}</p>
	{{pass}}
{{pass}}
</div>{{pass}}
{{if regform:}}
	{{if request.vars.pid=="-1":}}{{=H2(T('New registration'))}}{{pass}}
	{{if attperson:}}{{=H2(T('Registration for %(ec_firstname)s %(ec_lastname)s') % attperson.as_dict())}}{{pass}}
	{{=regform.custom.begin}}
	<table id="ec_registration">
	{{for field in regform.table.fields:}}
		{{if field not in ['id', 'waitlist_only']:}}
			{{if field.startswith('item_'):}}
				{{=TR(TD(''),TD(CAT(regform.custom.widget[field],regform.custom.label[field]),_width="50%"))}}
			{{elif field.startswith('rule_'):}}
				{{=TR(TD(regform.custom.label[field]),TD(regform.custom.widget[field]))}}
			{{elif field=='buyitems_heading':}}
				{{if field in regform.errors:}}{{=TR(TD(regform.custom.widget[field], _colspan="2"))}}{{pass}}
			{{elif field.find('heading_item_')==0:}}
				{{=TR(TD(H3(regform.custom.label[field])))}}
			{{else:}}
				{{=TR(TD(regform.custom.label[field]),TD(regform.custom.widget[field]))}}
			{{pass}}
		{{pass}}
	{{pass}}
	</table><br />
	{{=regform.custom.submit}}
	{{=regform.custom.end}}
{{else:}}
	{{if canregister not in ['register_ok','invite_ok','waitlist_only']:}}{{=P(MV(canregister))}}{{pass}}
	{{pass}}
