{{extend 'layout.html'}}
{{=H1(T('Registration rules')+' '+T('for')+' '+convention.ec_name)}}
{{=P(A(T('Configure') + ': ' + T('Buyable Items'),_href=URL('items',args=[convention.ec_short_name]),_class="linkbutton"), 
' ',A(T('Preview registration'), _href=URL('preview_registration',args=[convention.ec_short_name]),_class="linkbutton"))}}
{{=form}}
<h3>{{=T('You can choose the following rule types')}}:</h3>
<ul>
{{for ruletype in RULE_TYPE_CHOICES:}}
<li><p>{{=B(ruletype)}}: {{=RULE_EXPLANATIONS[ruletype]}}</p></li>
{{pass}}
</ul>
