{{extend 'layout.html'}}
{{=H1(title)}}
{{=MARKMIN(service.ec_description)}}
<ul>{{for helper in helpers:}}
	<li>{{='%(ec_firstname)s %(ec_lastname)s (%(ec_nickname)s)' % helper}}</li>
	{{pass}}
<ul>
