{{extend layout}}
{{=H1(title)}}
{{if not ('view' in request.args or 'edit' in request.args):}}
	{{if layout=='layout.html':}}<p>{{=T('On this page, you can manage tables for the events of your convention')}}.</p>
		{{pass}}
	{{pass}}
<h3>{{=T('Overview')}}:</h3>
{{=table_table or T('There are no tables (yet)')}}.
{{if not ('view' in request.args or 'edit' in request.args):}}
		{{if events_no_table:}}
			<h3>{{=T('Events without a table')}}:</h3>
			<ul>{{for event in events_no_table:}}
				<li>{{=event_table_selections[event.id]}}</li>
			    {{pass}}
			</ul>
			{{pass}}
		<h3>{{=T('Tables')}}:</h3>
		<p>{{=A(T('Bulk table creation'),_href=URL('convention','bulk_tables',args=convention.ec_short_name), _class="linkbutton")}}</p>
		{{=result}}
{{else:}}
	{{=result}}
	{{pass}}