{{extend 'layout.html'}}
{{=H1(T(MV(eventtype)))}}
{{if systempage:}}{{=MARKMIN(systempage)}}{{pass}}
<h3>{{
response.write(T('Game master') if eventtype=='rpggame' else T('Registered by'))
response.write(': ')
response.write(hosts)
}}
</h3>
{{=eventform}}
{{if attendees:}}<h3>{{=T('Event attendees')}}: {{=', '.join([a['ec_nickname'] for a in attendees])}}{{pass}}</h3>
<p />
{{=A(T('Back'),_href=URL('events',args=[convention.ec_short_name]),_class="linkbutton")}}

