/**
    css file for EasyCon

**/

/** Structure:
navbar
header
  search
  legal_notes
  logo
  menu
page
  content
footer
**/

/** Generics **/


body {
    background-color:  #01A64D;
    padding: 10px;
    font-family: sans-serif;
    }

span.auth_navbar {
    float: right;
    clear: both;
    padding: 10px;
    }

/** header **/

#search {
    float: right;
    clear: both;
    padding: 10px;
}

#legal_notes {
    float: right;
    clear: both;
    padding: 10px;
}

#person {
    float: right;
    clear: both;
    padding: 10px;
}


/** menu **/
#menu ul {
    list-style-type : none;
    list-style-position : outside;
    padding: 0;
    }

#menu li {
    list-style: none;
    display: inline-block;
    margin-right: 0.4em;
    padding: 0;
    line-height: 2em;
  }

#menu a {
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
}


/** flash (e.g., messages) **/

div.flash {
    background-color: green;
    padding: 5px;
    color: white;
    }


/** logo **/
#logo {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    }

/** page **/
#page {
    background-color: white;
    padding: 20px;
    min-height:350px;
    border-radius: 5px;
    }

/** Buttons **/

a.button {
    background-color: green;
    color: white;
    line-height:20px;
    margin-right:2px; display:inline-block;
    border-color:white;
    border-width:1px;
    border-style:solid;
    padding:3px 5px 3px 5px;
    border-radius: 5px;
}

/*
*Grid
*
* The default style for SQLFORM.grid even using jquery-iu or another ui framework
* will look better with the declarations below
* if needed to remove base.css consider keeping these following lines in some css file.
*/
/* .web2py_table {border:1px solid #ccc} */
.web2py_paginator {}
.web2py_grid {width:100%}
.web2py_grid table {width:100%}
.web2py_grid tbody td {padding:2px 5px 2px 5px; vertical-align: middle;}

.web2py_grid thead th,.web2py_grid tfoot td {
    background-color:#EAEAEA;
    padding:10px 5px 10px 5px;
}

.web2py_grid tr.odd {background-color:#F9F9F9}
.web2py_grid tr:hover {background-color:#F5F5F5}

/*
.web2py_breadcrumbs a {
    line-height:20px; margin-right:5px; display:inline-block;
    padding:3px 5px 3px 5px;
    font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
    color:#3C3C3D;
    text-shadow:1px 1px 0 #FFFFFF;
    white-space:nowrap; overflow:visible; cursor:pointer;
    background:#ECECEC;
    border:1px solid #CACACA;
    -webkit-border-radius:2px; -moz-border-radius:2px;
    -webkit-background-clip:padding-box; border-radius:2px;
    outline:none; position:relative; zoom:1; *display:inline;
}
*/

.web2py_console form {
    width: 100%;
    display: inline;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.web2py_console form select {
    margin:0;
}

.web2py_search_actions {
    float:left;
    text-align:left;
}

.web2py_grid .row_buttons {
    min-height:25px;
    vertical-align:middle;
}
.web2py_grid .row_buttons a {
    margin:3px;
}

.web2py_search_actions {
    width:100%;
}

.web2py_grid .row_buttons a,
.web2py_paginator ul li a,
.web2py_search_actions a,
.web2py_console input[type=submit],
.web2py_console input[type=button],
.web2py_console button {
    line-height:20px;
    margin-right:2px; display:inline-block;
    padding:3px 5px 3px 5px;
}

.web2py_counter {
    margin-top:5px;
    margin-right:2px;
    width:35%;
    float:right;
    text-align:right;
}

/*Fix firefox problem*/
.web2py_table {clear:both; display:block}

.web2py_paginator {
    padding:5px;
    text-align:right;
    background-color:#f2f2f2;

}
.web2py_paginator ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

.web2py_paginator ul li {
    display:inline;
}

.web2py_paginator .current {
    font-weight:bold;
}

.web2py_breadcrumbs ul {
    list-style:none;
    margin-bottom:18px;
}

li.w2p_grid_breadcrumb_elem {
    display:inline-block;
}

.web2py_console form { vertical-align: middle; }
.web2py_console input, .web2py_console select,
.web2py_console a { margin: 2px; }


#wiki_page_body {
   width: 600px;
   height: auto;
   min-height: 400px;
}

/* fix some IE problems */

.ie-lte7 .topbar .container {z-index:2}
.ie-lte8 div.flash{ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#000000', GradientType=0 ); }
.ie-lte8 div.flash:hover {filter:alpha(opacity=25);}
.ie9 #w2p_query_panel {padding-bottom:2px}



/* fix ie problem with menu (from web2py.css) */

/* removed since it make problems with Firefox */
td.w2p_fw {padding-bottom:1px}
td.w2p_fl,td.w2p_fw,td.w2p_fc {vertical-align:top}
td.w2p_fl {text-align:left}
td.w2p_fl, td.w2p_fw {padding-right:7px}
td.w2p_fl,td.w2p_fc {padding-top:4px}
div.w2p_export_menu {margin:5px 0}
div.w2p_export_menu a, div.w2p_wiki_tags a, div.w2p_cloud a {margin-left:5px; padding:2px 5px; background-color:#f1f1f1; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}

 tr#submit_record__row {border-top:1px solid #E5E5E5} 
#submit_record__row td {padding-top:.5em}

/* Fix */
#auth_user_remember__row label {display:inline}
#web2py_user_form td {vertical-align:top}



/* EasyCon specific CSS */

table td {
	vertical-align: top;
}

td pre {
    display: table-cell;
}

/*ec_datatable */

table#ec_datatable {
	background-color: #33CC33;
	width: 90%;
	padding: 5px;
}

table#ec_datatable th {
	text-align: left;
	color: white;
}

table#ec_datatable td {
	padding: 5px;
	background-color: #FFFFFF;
	border: solid #33CC33;
}

a {
	color: #0022cc;
	text-decoration: none;
	font-weight: bold;
}

INPUT.string {
	width: 100%;
}
TEXTAREA.text {
	width: 100%;
}

#ec_horizontal_list ul {
	 list-style-type:none;
     list-style-position : inside;
}

#ec_horizontal_list li {
    list-style: none;
    display: inline;
    margin: 0.4em; padding: 3px;
    border: solid #33CC33;
  }

A.linkbutton {
    padding: 3px;
    border: solid #33CC33;
    margin: 3px;
    background-color: #EEEEEE;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 1px 1px 5px grey;
  }


A.inactive {
    padding: 3px;
    border: solid #CCCCCC;
    margin: 3px;
    background-color: #EEEEEE;
    border-radius: 5px;
    display: inline-block;
    font-weight: lighter;
    font-style: italic ;
    color: #444444;
  }

A.lb_active {
    padding: 3px;
    border: solid #33CC33;
    margin: 3px;
    background-color: #33CC33;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 1px 1px 5px grey;
  }

div.error_wrapper {
	background-color: red;
	padding: 3px;
	color: white;
	font-weight: bold;
}

#message {
    background-color: green;
    padding: 5px;
    color: white;
    font-weight: bold;
}

#linklist li {
    padding: 6px;
}

td#ec_comment {
	padding-left: 10px;
}

div#icon  {
	float: right;
}

img#iconhere {
       width: 25px;
}

#icon img {
	width: 25px;
}

*.orgaonly {
    font-style: italic ;
}


*.haspopup span.popup {
	display:none;
	color: #000;
	font-weight: normal;
}

*.haspopup:hover span.popup {
	position: fixed;
	display:block;
	left:20px;
	top:20px;
	width: 90%;
	z-index:10;
	background:#FFFFCC;
	border:thin solid #ccc;
	border-radius: 5px;
	padding:10px;
}

td.bigentry {
	font-size: x-large;
	vertical-align: middle;
	text-align: center;
}

col#ec_news-ec_subject {
	width: 20%;
}

table.newsletter {
	width: 100%;
	border-collapse: collapse;
}

table.newsletter td {
	padding: 10px;
}

table.newsletter td {
	border-top-style: dotted;
	border-top-width: thin;
	border-bottom-style: dotted;
	border-bottom-width: thin;
}
table.newsletter  tr.odd  td {
	background-color : #EEFFEE;
}

div#validation_warning {
	background-color : bisque;
	padding-left: 10px;
	padding-right: 10px;
	border-top: solid;
	border-bottom: solid;
}

/* timetable css */
table.timetable {
	border: solid 1px;
	background: #F5F5F5;
	border-color: blue;
	}

td.timetable_event {
	border: solid 1px;
	border-color: grey;
	padding: 5px;
	background: white;
	text-align: center;
}

td.timetable_not_available {
	border: solid 1px;
	border-color: grey;
	padding: 5px;
	background: grey;
	text-align: center;
}

td.timetable_date {
	border-right: solid 1px;
	border-left:  solid 1px;
	border-color: blue;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

table.timetable td {
	padding: 5px;
}

td.timetable_location {
	font-weight: bold;
}

td.timetable_hours {
	font-size: small;
}

td.timetable_firstrow a {
	font-weight: bold;
}

td.timetable_overflowrow a{
	font-style: italic;
	color: red;
}
