/**
    css file for EasyCon (print view)

**/


body {
    padding: 5px;
    font-family: sans-serif;
    }

table  {
	border-collapse: collapse;
	border: 1px solid ;
	font-size : small;
	width: 100%;
}

table th {
	padding: 5px;
	border: inset ;
	text-align: left;
	border: 1px solid ;

}

table td {
	padding: 5px;
	border: 1px solid ;
}

table#normaltext {
	border-style: none;
	font-size : medium ;
}

#normaltext td {
	border-style: none;
	font-size : medium;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

.web2py_counter {
visibility : hidden;
}

col#ec_bedroom-ec_name {
	width: 15%;
}

col#ec_bedroom-ec_category {
	width: 15%;
}

col#ec_when {
	width: 18em;
}

col#ec_what {
	width: 40%;
}

col#first {
	width: 20%;
}

td.w2p_fl {
	width: 20%;
}
td.w2p_fw {
	width: 80%;
}

img#printlogo {
	vertical-align:text-bottom;
}

h1#contitle {
	}

div#page {
	clear: left;
}

table.newsletter {
	width: 100%;
	border-collapse: collapse;
	border-style: none;
}

table.newsletter td {
	padding: 10px;
	border-style: none;
}

table.newsletter td {
	border-top-style: dotted;
	border-top-width: thin;
	border-bottom-style: dotted;
	border-bottom-width: thin;
}

td.timetable_not_available {
	border: solid 1px black;
	border-color: grey;
	padding: 5px;
	background: lightgrey;
	text-align: center;
}


td.timetable_firstrow a{
	font-weight: bold;
}

td.timetable_overflowrow a{
	font-weight: italic;
	color: red;
}