{{extend 'layout.html'}}
{{=H1(response.title)}}
{{=T('All your data are belong to you')}}.
{{list = ['myevents']}}

{{for action in list:}}
    {{explain=EX(action)}}
    <div class="haspopup">{{=A(MV(action), _href=URL('mydata',action), _class="linkbutton")}} 
    {{if explain:}}<span class="popup">{{=explain}}</span>{{pass}}</div>
{{pass}}<!-- end for-->

<div class="haspopup">{{=A(T('Personas'), _href=URL('default','my_personae'), _class="linkbutton")}}</div>

<p>{{=T('Calendar links for your personal programs')}}:</p>

{{for persona in personas:}}

<a href="{{=URL('mydata','mycalendar.ical', vars=dict(token=persona['access_token'], person=persona['id']))}}"
title="{{=T('Import this link to your calendar app and see all your personal events there!')}}" class="linkbutton">
{{=T('Events of %(firstname)s %(lastname)s as ical') % persona}}
</a>
<a onclick="copyToClipboard('{{=persona['id']}}', '{{=persona['access_token']}}')"
href="#"  title="{{=T('Copy link to clipboard')}}">
    <img id="iconhere" src="{{=URL('static','images/copy.png')}}" 
         alt="{{=T('Copy link to clipboard')}}"/>
</a>

<a href={{=URL('mydata','reset_token', args=[persona['id']])}}
title="{{=T('Reset ical access token of %(firstname)s %(lastname)s') % persona}}.
{{=T('This makes all previously generated ical links invalid!')}}
">
    <img id="iconhere" src="{{=URL('static','images/remove.png')}}" 
         alt="{{=T('Reset ical access token of %(firstname)s %(lastname)s') % persona}}.
{{=T('This makes all previously generated ical links invalid!')}}"/>
</a>

<br/>


<!--
<div class="haspopup">{{=A(T('Reset ical access token of %(firstname)s %(lastname)s') % persona, _href=URL('mydata','reset_token', args=[persona['id']]), _class="linkbutton")}}
    <span class="popup">{{=T('This makes all previously generated ical links invalid!')}}</span>
</div>
-->
{{pass}}



<script type="text/javascript">
    function copyToClipboard(person, token) {
        var icalUrl = "{{=URL('mydata','mycalendar.ical', host=True)}}?person=" + person + "&token=" + token;
        navigator.permissions.query({name: "clipboard-write"}).then(result => {
            if (result.state == "granted" || result.state == "prompt") {
                navigator.clipboard.writeText(icalUrl);
            };
        }).catch(reason => {
            const el = document.createElement('textarea');
            el.value = icalUrl;
            el.setAttribute('readonly', '');
            el.style.position = 'absolute';
            el.style.left = '-9999px';
            document.body.appendChild(el);
            el.select();
            document.execCommand('copy');
            document.body.removeChild(el);
        });
    }
</script>
